header{
  .block-search{
		top: 10%;
		width: 100%;
		display: block;
		position: absolute;
		padding: 0;
		transition: visibility 0s, opacity 0.3s linear;
		background: transparent;
		visibility: visible;
		opacity: 1;
    @media only screen and (max-width: $mobile){
      margin-top: 0;
    }
		&.open{
			top: 100%;
			visibility: visible;
	  	opacity: 1;
		}
    .control {
      border-top: 0;
      margin: 0;
      padding: 0;
    }
  }
  .block-content{
  	max-width: 650px;
    margin: 0 auto;
    padding: 0;
    form{
    	position: relative;
      label {
        right: 0;
        top: 12px;
        position: absolute;
      }
    	.control{
    		input[type="text"]{
    			height: 40px;
    			font-size: 16px;
			    padding: 5px 35px 5px 5px;
          margin: 0;
          position: static;
          border-radius: 5px;
    		}
        .nested{
          display: none;
          padding-top: 5px;
          position: absolute;
          a{
            color: $mainColor;
            font-size: 13px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
    	}
    	.action.search{
    		top: 0;
        background: #E4002B;
        padding: 5px 10px;
        right: 0;
        border-radius: 0 5px 5px 0;
        &:hover{
          background: #AD1F2C;
          &:before{
            color:#ffffff;
          }
        }
    		&:before{
    			font-size: 30px;
    			line-height: 30px;
          color: #fff;
    		}
    	}
    }
  }
}
