@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('../fonts/zagg/AvenirNextLTPro-Bold.woff2') format('woff2'),
      url('../fonts/zagg/AvenirNextLTPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NokiaPureHeadlineBold';
  src: url('../fonts/nokia/NokiaPureHeadline-Bold.eot');
  src: url('../fonts/nokia/NokiaPureHeadline-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/nokia/NokiaPureHeadline-Bold.woff2') format('woff2'),
      url('../fonts/nokia/NokiaPureHeadline-Bold.woff') format('woff'),
      url('../fonts/nokia/NokiaPureHeadline-Bold.ttf') format('truetype'),
      url('../fonts/nokia/NokiaPureHeadline-Bold.svg#NokiaPureHeadline-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NokiaPureHeadlineLight';
  src: url('../fonts/nokia/NokiaPureHeadline-Light.eot');
  src: url('../fonts/nokia/NokiaPureHeadline-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/nokia/NokiaPureHeadline-Light.woff2') format('woff2'),
      url('../fonts/nokia/NokiaPureHeadline-Light.woff') format('woff'),
      url('../fonts/nokia/NokiaPureHeadline-Light.ttf') format('truetype'),
      url('../fonts/nokia/NokiaPureHeadline-Light.svg#NokiaPureHeadline-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NokiaPureHeadlineRegular';
  src: url('../fonts/nokia/NokiaPureHeadline-Regular.eot');
  src: url('../fonts/nokia/NokiaPureHeadline-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/nokia/NokiaPureHeadline-Regular.woff2') format('woff2'),
      url('../fonts/nokia/NokiaPureHeadline-Regular.woff') format('woff'),
      url('../fonts/nokia/NokiaPureHeadline-Regular.ttf') format('truetype'),
      url('../fonts/nokia/NokiaPureHeadline-Regular.svg#NokiaPureHeadline-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NokiaPureHeadlineExtraBold';
  src: url('../fonts/nokia/NokiaPureHeadline-ExtraBold.eot');
  src: url('../fonts/nokia/NokiaPureHeadline-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/nokia/NokiaPureHeadline-ExtraBold.woff2') format('woff2'),
      url('../fonts/nokia/NokiaPureHeadline-ExtraBold.woff') format('woff'),
      url('../fonts/nokia/NokiaPureHeadline-ExtraBold.ttf') format('truetype'),
      url('../fonts/nokia/NokiaPureHeadline-ExtraBold.svg#NokiaPureHeadline-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Frankfurter W05 Regular";
  src: url("../fonts/fka/545b8c4b-ee94-47dd-a9b0-55881ceeeeaa.eot?#iefix") format("eot"),
    url("../fonts/fka/c469a796-c5e2-4ff1-b252-ef9ecaf27393.woff") format("woff"),
    url("../fonts/fka/be98b0c8-3103-4e5d-80b6-1a34d2c6734d.ttf") format("truetype");
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?25926270');
  src: url('../fonts/fontello/fontello.eot?25926270#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff?25926270') format('woff'),
       url('../fonts/fontello/fontello.ttf?25926270') format('truetype'),
       url('../fonts/fontello/fontello.svg?25926270#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
html {
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
body[data-container='body']{
  color: $colorText;
  font-size: 14px;
  background-color: white;
  text-align: center;
  font-family: $fontText;
  line-height: 2;
  &.open-menu{
    overflow: hidden;
  }
}
ul, ol {
  list-style: none;
  > li{
    margin-bottom: 0;
  }
}
html a {
  color:$mainColor;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:visited, &:focus{
    color: $colorHover;
    text-decoration: none;
  }
}
a, button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
img{
  width: 100%;
  height: auto;
}
.txt-white, .txt-white h1, .txt-white h2 {
  color: #fff;
}
:hover,
:active,
:focus {
  outline: 0;
  outline: none;
}
section{
  width: 100%;
  padding: 20px 0;
  float: left;
  &.block{
    margin-bottom: 0;
  }
  &.section-main-slider{
    padding-top: 0;
  }
  header{
    h2{
      margin: 0 0 40px;
      font-size: 2rem;
    }
  }
}
.container {
  width: 100%!important;
  margin: 0 auto;
  @media (min-width: 1200px){
    max-width: 1140px;
  }
}
.container-fluid{
  max-width: 1320px;
}
.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  clear: both;
}
select {
  height: 36px;
  padding: 8px;
  text-overflow: ellipsis;
  transition: .5s all ease;
  &:hover{
    border-color: #aaa;
    color:$colorText;
    outline: none;
  }
}
input.input-text, select, textarea {
  background: #fff;
  border: 1px solid #ddd;
  color: $colorText;
  ;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
}
.skip-content {
  display: none;
}
.skip-links {
  clear: both;
  overflow: hidden;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  &.header-mobile{
    @media only screen and (min-width: 771px){
      display: none;
    }
  }
}
.skip-link {
  position: relative;
  float: left;
  width: 20%;
  height: 44px;
  background: #FFFFFF;
  color: #000000;
  line-height: 42px;
  text-align: center;
  @media only screen and (max-width: 770px){
    border-right: 1px solid #ededed;
  }
  .icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 3px;
  }
}
.skip-nav {
  width: 20%;
  text-align: left;
  padding: 0 0 0 15px;
  .icon{
    background-position: 4px 4px;
    margin-right: 3px;
    background-image: url(../img/icons/icon_sprite.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  label{
    display: inline;
  }
}
#scroll-to-top {
  display: block;
  position: fixed;
  right: 1.5%;
  width: 50px;
  height: 50px;
  border: 0 none;
  z-index: 999999;
  transition: all 1s;
  background: url(../images/arrow-up-white.png) no-repeat center;
  background-size: 20px;
  background-color: #000;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  bottom: -60px;
  border-radius: 50%;
  &.show{
    opacity: 1;
    bottom: 20%;
  }
}
h1, .h1{
  margin: 0;
  font-style: normal;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  font-family: $fontText;
}
/*** ajustes ***/
.magestore-bannerslide-flex-slider .slides img {
  height: auto !important;
}
.modals-wrapper .modal-popup .modal-inner-wrap .modal-content {
  font-size: 14px;
  font-weight: 400;
}
.modals-wrapper .modal-popup .modal-inner-wrap .modal-content h2{
  font-size:18px;
  font-weight: bold;
}

section.newsletter.bg-image-dark{
background-color: #001135 !important;
}
section.newsletter .block.newsletter form .field.newsletter input {
  height: 46px;
  border-radius: 0.21875rem;
  background: transparent;
  border: 2px solid #fff;
border-color: hsla(0,0%,100%,.55);
}

i.fa.fa-facebook {
  font-size: 18px;
  background: #001135;
  width: 23px;
  height: 23px;
  display: block;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
}
i.fa.fa-instagram, i.fa.fa-twitter, i.fa.fa-youtube-play{
  font-size: 25px;
 color:#001135;
}
a:hover i.fa.fa-facebook{
background: #0065ed;
}
a:hover i.fa.fa-instagram, a:hover i.fa.fa-twitter,  a:hover i.fa.fa-youtube-play{
color: #0065ed;
}
section.newsletter .block.newsletter form .actions .action{
   width: 100%;
   margin-left: 15px;
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"]{
 font-family: NokiaPureHeadlineRegular;
}
section.newsletter .block.newsletter form .field.newsletter input::placeholder {
  font-style: normal;
}
nav.col.footer__main-nav .h3 a{
font-size:30px;
}
footer .footer-bottom .footer-nav .link-block ul li a{
font-size:17.5px;
}
footer .footer-bottom .footer-nav .link-block ul li{
margin-bottom: 1em;
}
footer .footer-social ul li{
margin: 0 15px;
}
.product.description {
  text-align: left;
  line-height: 18px;
  min-height: 60px;
}
.product-info_media .product-tag.disccount-tag {
  top: 15px;
  left: 15px;
  width: 65px;
  height: 65px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  padding: 6px 0;
  z-index: 10;
  background: #124191;
  line-height: 55px;
}
.products-grid .product-items .item:not(.rating-summary) .product-item-info .product-tag.disccount-tag {
  background-color: #124191;
}
footer .footer-social h5 {
  color: #001135;
  text-align: center;
}

.catalog-product-view section.block-products-list:nth-of-type(2n){
display:none;
}
.product.attribute.description .row, .product.attribute.description img {
  margin-bottom: 10px;
}
@media only screen and (max-width: 540px){
      .products-grid .owl-carousel.product-items .item:not(.rating-summary) {
   max-width: 100%;
  }
}