$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1400px !default;
$mainColor: #0065ED;
$footerBgColor:#F4F4F4;
$colorFooter:#000000;
$colorText:#001135;
$colorTitleHead:#001135;
$colorTitle: #001135;
$colorHover: #124191;
$colorSecond:#1d1d1b;
$colorThird: #62B230;
$colorBottom: #0065ED;
$fontText:'NokiaPureHeadlineRegular';
$fontTextTitle:'NokiaPureHeadlineBold';