.login-container{
  text-align: left;
  .block {
    .block-title {
      color: #666;
      text-transform: uppercase; 
    }
  }
  .fieldset:after{
    width: 100%;
    font-size: 12px;
    float: left;
    strong {
      font-weight: bold;
    }
  }
  .form {
    .fieldset{
      >.field{
        padding-left: 0;
        margin-bottom: 30px;
        @media only screen and (max-width: 768px){
          width: 100%;
          float: left;
        }
        &:not(.choice){
          >.label{
            max-width: 100%;
            text-align: left;
            @media only screen and (max-width: 768px){
              width: 100%;
              float: left;
            }
          }
          .control{
            max-width: 80%;
            @media only screen and (max-width: 768px){
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
  .form, .block-new-customer{
    .actions-toolbar{
      .action.primary{
        float: left;
        background: #258EBF ;
        border-radius: 3px;
        &:hover {
          background: #4fb4e3;
        }
      }
    }
  }
}
.actions-toolbar{
  width: 100%;
}