.login-container{
  text-align: left;
  .block {
    .block-title {
      color: #666;
      text-transform: uppercase; 
    }
  }
  .form {
    .fieldset{
      >.field{
        padding-left: 0;
        margin-bottom: 30px;
        @media only screen and (max-width: 768px){
          width: 100%;
          float: left;
        }
        &:not(.choice){
          >.label{
            max-width: 100%;
            text-align: left;
            @media only screen and (max-width: 768px){
              width: 100%;
              float: left;
            }
          }
          .control{
            max-width: 80%;
            @media only screen and (max-width: 768px){
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
  .form, .block-new-customer{
    .actions-toolbar{
      .action.primary{
        float: left;
        width: 100%;
        background: #258EBF ;
        border-radius: 3px;
        &:hover {
          background: #4fb4e3;
        }
      }
      > .primary{
        &:before{
          width: 100%;
          font-size: 12px;
          float: left;
          margin: 0 0 30px;
          content: attr(data-hasrequired);
          display: block;
          letter-spacing: normal;
          word-spacing: normal;
          color: #e02b27;
          text-align: center;
          @media only screen and (min-width: $tablet){
            margin-left: 0;
            text-align: left;
          }
          strong {
            font-weight: bold;
          }
        }
      }
    }
  }
}
.actions-toolbar{
  width: 100%;
}
