.product-view{
  padding: 40px 0;
  .container{
    @media only screen and (max-width: 768px){
      max-width: 80%;
    }
    @media only screen and (max-width: 560px){
      max-width: 100%;
    }
  }
  .name-producto-mobile{
    width: 100%;
    float: left;
    display: none;
    @media only screen and (max-width: 768px){
      display: block;
    }
    h2{
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 40px;
      margin: 30px 0;
    }
  }
  .product-info_media{
    position: relative;
    z-index: 1;
    .sticker-wrapper{
      top: 0;
      right: 15px;
      position: absolute;
      z-index: 9;
      .sticker{
        width: 80px;
        color: #fff;
        font-size: 1.17em;
        line-height: 40px;
        font-weight: bold;
        background-color: #c73615;
        transition: .3s all ease;
        margin: 0 auto;
        float: left;
        &.sale{
          display: none;
        }
      }
    }
    .wrapper-img{
      padding: 5px;
      position: relative;
      >div:hover{
        img.cloudzoom{
          opacity: 0;
        }
      }
      #zoom-btn{
        position: absolute;
        right: 4px;
        bottom: 4px;
        padding: 0 1em;
        line-height: 2.6em;
        z-index: 100;
        background-color: rgba(255,255,255,.7);
        color: #333;
        @media only screen and (max-width: 480px){
          display: none;
        }
        &:hover{
          color: #1e75b4;
        }
      }
    }
    img.cloudzoom{
      width: 100%;
      transition: .5s all ease;
    }
    .more-images{
      max-width: 316px;
      margin: 15px auto 0;
      .owl-stage{
        margin: 0 auto;
        .owl-item{
          padding: 0 8px;
          cursor: pointer;
        }
      }
      .owl-nav{
        background-image: none;
        text-indent: 0;
        .owl-prev, .owl-next{
          top: 60%;
          width: 30px;
          height: 30px;
          transition: .3s all ease;
          &:before{
            color: #333;
            line-height: 30px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: ThemeIcons;
            font-size: 20px;
          }
          &:hover{
            background-color: #333;
            &:before{
              color: #fff;
            }
          }
        }
        .owl-prev{
          left: -32px;
          background-position: -10px -10px;
          &:before{
            content: "\e260";
          }
        }
        .owl-next{
          right: -32px;
          background-position: -60px -10px;
          &:before{
            content: "\e263";
          }
        }
      }
    }
    .MagicToolboxContainer{
      .MagicToolboxSelectorsContainer{
        a{
          img{
            max-width: 63px;
            box-shadow: none;
            filter: brightness(100%) !important;
          }
        }
        .mcs-bullets{
          .mcs-bullet{
            background-color: #ccc;
            &.active{
              background-color: $mainColor;
              border: 0;
            }
          }
        }
        .mcs-button-arrow {
          border: 0 !important;
          background: none !important;
        }
        .MagicScroll-bullets, .MagicScroll-arrows-inside {
          > div a[target="_blank"], > span a[target="_blank"] {
            display: none;
          }
        }
      }
    }
  }
  .product-info_main{
    text-align: left;
    @media only screen and (max-width: $tablet){
      margin-top: 30px;
    }
    .product-name, .rating-summary, .stock-status, .product-attribute, .sku, .product-type-data{
      width: 100%;
      float: left;
    }
    .product-name{
      color: #000;
      font-size: 28px;
      font-weight: bold;
      margin: 0 0 10px;
      display: block;
      @media only screen and (max-width: 650px){
        font-size: 28px;
      }
    }
    .stock-status{
      margin: 10px 0;
      line-height: normal;
      > span{
        font-weight: 500;
        &.in-stock{
          color: #4fb62f;
        }
        &.out-stock{
          color: #D7410B;
        }
      }
    }
    .product-attribute{
      font-size: 23px;
      margin: 0;
    }
    .sku{
      margin: 10px 0;
      text-transform: uppercase;
      .label{
        margin-right: 7px;
      }
      .label, .value{
        color: #aaa;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        float: left;
      }
    }
    .product-type-data{
      margin: 10px 0 0;
      p{
        margin: 0;
      }
      .old-price{
        color: #8e8e8e;
        font-size: 18px;
        .price{
          font-size: 30px;
          text-decoration: line-through;
        }
      }
      .special-price, .regular-price{
        font-size: 35px;
        line-height: normal;
      }
      .special-price{
        .price{
          color: #c73615;
        }
      }
      .regular-price{
        .price{
          color: #000;
        }
      }
      .old-price, .special-price, .regular-price{
        .price-label{
          white-space: nowrap;
          display: none;
        }
        .price{
          font-weight: bold;
          line-height: normal;
        }
      }
    }
    .price-box{
      width: 100%;
      float: left;
      line-height: normal;
      margin: 10px 0;
      > span{
        display: inline-block;
        margin-right: 10px;
        &.old-price{
          color: $mainColor;
          .price{
            color: $mainColor;
            font-size: 24px;
            font-weight: normal;
          }
        }
      }
      .price-label{
        display: none;
      }
      .price{
        font-size: 30px;
        font-weight: bold;
        color: #000;
      }
      .price-final_price{
        .price{
          color: #000;
        }
      }
    }
    .short-description {
      width: 100%;
      margin: 15px 0;
      color: #000;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .5px;
      float: left;
      ul, ol{
        list-style: disc;
        list-style-position: inside;
      }
      li{
        margin-bottom: 0;
      }
    }
    .product-add-form{
      width: 100%;
      float: left;
      .box-tocart{
        margin: 0;
        .field{
          display: block;
          padding: 0;
          margin: 0;
          &.qty{
            padding: 20px 0;
            border-bottom: 1px solid #e5e5e5;
            @media only screen and (min-width: 768px){
              display: block;
            }
            @media only screen and (max-width: $mobile){
              border-top: 1px solid #e5e5e5;
            }
            .label, .control{
              width: auto;
              display: inline-block;
              @media only screen and (max-width: $tablet){
                width: 50%;
              }
            }
            .control{
              width: auto!important;
              margin: 10px 0 20px 40px;
              position: relative;
              @media only screen and (max-width: $tablet){
                margin: 0;
                float: right;
              }
              input{
                width: 5em;
                height: 30px;
                color: #000;
                font-weight: bold;
                text-align: center;
                vertical-align: middle;
                background: none;
                border: none;
              }
              .mage-error[generated]{
                position: absolute;
              }
            }
            .control-qty{
              width: 28px;
              height: 28px;
              color: #fff;
              background: $mainColor;
              vertical-align: middle;
              display: inline-block;
              border-radius: 50%;
              font-size: 18px;
              font-weight: bold;
              text-align: center;
              line-height: 28px;
              cursor: pointer;
              &:not(.disable):hover{
                color: #fff;
                background: #000;
              }
              &.disable{
                color: #999;
                background: none;
                line-height: 25px;
                border: 2px solid #aaa;
                pointer-events: none;
              }
            }
            .control.qty{
              display: inline-block;
            }
          }
          .label{
            font-size: 12px;
            line-height: 1.3;
            float: none;
            display: block;
            clear: both;
            border: 0;
            margin-bottom: 3px;
            color: #000;
          }
        }
        .actions{
          width: 100%;
          float: left;
          margin-right: 10px;
          max-width: 100%;
          padding: 15px 0;
          button, .action.towishlist{
            margin-bottom: 10px;
            margin-right: 10px;
            vertical-align: middle;
            min-height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 30px;
            float: left;
            min-width: 160px;
            width: auto;
            white-space: normal;
            &:hover{
              background: $secondColor;
            color: $colorHover;
            border: 1px solid $secondColor;
            }
            @media only screen and (max-width: $mobile){
              width: 100%;
              margin-right: 0;
              text-align: center;
            }
          }
          .action.towishlist {
            color: #999;
            height: 38px;
            border: 1px solid #ccc;
            border-radius: 3px;
            &:hover{
              border: 1px solid #000;
            }
          }
        }
      }
    }
    > .product-addto-links {
      display: none;
    }
    .ept-social-share {
      width: 100%;
      float: left;
      visibility: hidden;
      margin: 20px 0 5px;
    }
    .product-social-links {
      width: auto;
      display: inline-block;
      a{
        width: 40px;
        height: 40px;
        color: #fff;
        line-height: 40px;
        background: #6f6f6f;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0;
        @media only screen and (min-width: $mobile){
          width: 30px;
          height: 30px;
          font-size: 18px;
          line-height: 30px;
        }
        &:hover {
          background: #5f5f5f;
        }
        &.action.mailto.friend:before{
          font-size: 40px;
          line-height: 40px;
          @media only screen and (min-width: $mobile){
            font-size: 30px;
            line-height: 30px;
          }
        }
        span {
          display: none;
        }
      }
    }
    .ept-social-share.ept-product-page, .ept-social-share.ept-socialshare-page{
      .ept-social-buttons {
        background: #6F6F6F;
        vertical-align: middle;
        margin-right: 8px;
        @media only screen and (min-width: $mobile){
          width: 30px;
          height: 30px;
        }
        &:hover {
          background: #5f5f5f;  
        }
        a{
          color: #fff;
          @media only screen and (min-width: $mobile){
            width: 100%;
            height: 100%;
            font-size: 18px;
            line-height: 30px;
            float: left;
          }
        }
      }
    }
  }
}
.product-characteristics{
  h2{
    color: #000;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 20px 0 0;
    @media only screen and (max-width: 768px){
      font-size: 32px;
    }
    @media only screen and (max-width: 650px){
      font-size: 28px;
    }
  }
  ul.feature-icons{
    width: 100%;
    text-align: center;
    padding-top: 7%;
    li {
      float: none;
      display: inline-block;
      vertical-align: top;
      margin: 0 auto;
      padding: 5px 0;
      width: 14%;
      @media only screen and (max-width: 650px){
        width: 25%;
      }
      h5{
        color: black;
        line-height: 1.15em;
        font-size: 22px;
        font-weight: normal;
        text-transform: uppercase;
        margin-top: 40px;
        @media only screen and (max-width: 768px){
          font-size: 18px;
        }
      }
    }
  }
}
.box-additional{
  padding: 60px 0;
  background: #efefef;
  .product-tabs{
    width: 100%;
    float: left;
    .product.data.items{
      @media only screen and (max-width: $tablet){
        text-align: left;
      }
      >.item.title{
        float: left;
        margin: 0 0 -1px;
        @media only screen and (max-width: $tablet){
          margin: 0;
          border-top: 1px solid #d5d5d5;
        }
        >.switch {
          color: #333;
          font-size: 1em;
          line-height: 3em;
          background-color: #e5e4e4;
          font-weight: bold;
          height: auto;
          padding: 0 10px;
          border: 1px solid transparent;
          @media only screen and (min-width: $tablet){
            color: #333;
            position: relative;
            &:visited{
              color: #333;
            }
          }
          &:hover{
            @media only screen and (min-width: $tablet){
              background: #eee;
            }
          }
        }
        &.active {
          >.switch {
            color: $mainColor;
            margin-bottom: -1px;
            background-color: #fff;
            border-bottom: 2px solid $mainColor;
            padding-bottom: 0;
            &:hover {
              background-color: #fff;
            }
          }
        }
        &:hover {
          >.switch {
            background-color: #fff;
            @media only screen and (max-width: $tablet){
              background-color: #eee;
            }
          }
        }
      }
      >.item.content{
        color: #666666;
        font-weight: 500;
        text-align: left;
        margin-top: 46px;
        margin-bottom: 0;
        padding: 20px;
        border: 0;
        @media only screen and (max-width: $mobile){
          width: 100%;
          margin-top: 0;
          float: left;
        }
        figure{
          figcaption{
            font-weight: bold;
            font-size: 12px;
            font-style: italic;
            text-align: center;
          }
        }
      }
    }

    .tab-content{
      .tab-pane{
        padding: 15px 0;
        border-bottom: 1px dashed #e5e5e5;
        text-align: left;
        @media only screen and (max-width: 1024px){
          display: block;
          opacity: 1;
          border: 0;
          padding: 0!important;
          .content{
            display: none;
          }
          &.active{
            .card-title{
              color: #009b67;
              &:after{
                content: "\e262";
              }
            }
            .content{
              display: block;
            }
          }
        }
        .card-title{
          display: none;
          @media only screen and (max-width: 1024px){
            display: block;
            color: #333;
            font-size: 1.5em;
            line-height: 2.7em;
            font-weight: normal;
            font-weight: bold;
            border-bottom: 1px solid #e5e5e5;
            background-color: #f5f5f5;
            margin-bottom: 1px;
            padding: 0 .5em;
            &:after{
              content: "\e261";
              float: right;
              font-size: 22px;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              font-family: ThemeIcons;
              -webkit-font-smoothing: antialiased;
              display: inline-block;
            }
          }
        }
        p{
          margin: 0;
        }
        .content{
          @media only screen and (max-width: 1024px){
            margin: 10px 0;
            padding: 15px;
          }
          @media only screen and (max-width: 480px){
            &.table{
              padding: 15px 0;
            }
          }
        }
      }
    }
    .additional-attributes-wrapper.table-wrapper{
      table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        font-size: 100%;
        border: 0;
        @media only screen and (min-width: $tablet){
          width: 100%;
        }
        tbody{
          tr{
            &:nth-child(even){
              background-color: #fbfbfb;
            }
          }
          th, td{
            padding: 20px;
          }
          th{
            font-weight: bold;
            border-right: 1px solid #f5f5f5;
          }
          .label{
            width: 25%;
            color: #000;
            font-size: 100%;
            display: table-cell;
          }
        }
      }
    }
  }
}
