.checkout-cart-index{
  .page-wrapper .page-main{
    max-width: 1300px;
    margin: 0 auto;
    @media (min-width: $tablet){
      width: 90%;
    }
  }
  .row.custom_alert{
    color: #000 !important;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: .7rem;
    border: 1px solid $mainColor !important;
    margin-bottom: 10px;
    background-color: #fff;
    margin: 0 auto !important;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    text-align: justify;
    padding: 10px 0px 10px 0px;
  }
  .row.custom_alert .col-sm-10 {
    line-height: 16px;
    padding-left: 3px;
  }
  .custom_alert .col-sm-3{
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 0px;
    padding-right: 0px;
  }
  .custom_alert .col-sm-2{
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px; 
    padding-right: 0px;
  }
  .custom_alert .col-sm-1{
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 0px;
    padding-right: 0px;
  }
  .custom_alert .icon{
    width: 40px;
    margin-right: .8rem;
  } 
}
.cart-container{
  form{
    &.form-cart{
      @media (max-width: $tablet){
        width: 100%;
      }
      table{
        @media (max-width: $tablet){
          display: block;
        }
        thead{
          th{
            width: 15%;
            color: #999;
            font-weight: 400;
            border: 0;
            @media (max-width: 1280px){
              width: auto;
            }
            &:not(.item){
              @media (max-width: $tablet){
                display: none;
              } 
            }
            &.item{
              width: 35%;
              @media (max-width: 1280px){
                width: 30%;
              }
            }
            &.delete{
              width: 5%;
              @media (max-width: 1280px){
                width: auto;
              }
            }
          }
        }
        tbody{
          tr{
            @media (max-width: $tablet){
              position: relative;
              border-bottom: 1px solid #eee;
              padding-bottom: 20px;
              &:last-child{
                border-bottom: 0;
              }
            }
            td{
              border: 0;
              &.item{
                .product-item-photo{
                  @media (max-width: $tablet){
                    width: 40%;
                    max-width: 40%;
                    position: absolute;
                    .product-image-container{
                      min-width: 80%;
                    }
                  }
                  @media (max-width: $mobile){
                    padding: 0 15px;
                    .product-image-container{
                      min-width: 100%;
                    }
                  }
                }
                .product-item-details{
                  text-align: left;
                  @media (max-width: 1280px){
                    display: block;
                  }
                  @media (max-width: $tablet){
                    margin: 0;
                  }
                }
                .product-item-name{
                  font-weight: bold;
                  font-size: 16px;
                  display: block;
                  margin-top: 6px;
                  @media (max-width: 1280px){
                    font-size: 14px;
                    line-height: normal;
                  }
                }
                .product-item-stock{
                  display: block;
                  text-align: left;
                  font-weight: bold;
                  font-size: 14px;
                  &.in-stock{
                    color: #4fb62f;
                  }
                  &.out-stock{
                    color: #cd3800;
                  }
                }
              }
              .cart-price{
                .price{
                  font-size: 18px;
                } 
              }
              &.qty{
                .control-qty{
                  width: 28px;
                  height: 28px;
                  color: #fff;
                  background: $mainColor;
                  vertical-align: middle;
                  display: inline-block;
                  border-radius: 50%;
                  font-size: 18px;
                  font-weight: bold;
                  cursor: pointer;
                  @media (max-width: $tablet){
                    text-align: center;
                  }
                  &:not(.disable):hover{
                    color: #fff;
                    background: #000;
                  }
                  &.disable{
                    color: #999;
                    background: none;
                    border: 1px solid #ccc;
                    pointer-events: none;
                  }
                }
                .control.qty{
                  display: inline-block;
                  input{
                    width: 4em;
                  }
                }
              }
              &.delete{
                @media (max-width: $tablet){
                  &.col{
                    right: 0;
                    padding-top: 25px;
                    position: absolute;
                  }
                }
                .action-edit, .action-towishlist{
                  display: none !important;
                }
                .action-delete{
                  margin: 0;
                  border: 0;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background: url(../images/icons/delete.png) no-repeat center;
                  background-size: 20px;
                  background-color: #f4f4f4;
                  &:hover{
                    border: 0;
                    background: url(../images/icons/delete-white.png) no-repeat center;
                    background-size: 20px;
                    background-color: #000;
                  }
                  span{
                    display: none;
                  }
                }
              }
              &.col.item, &.col.price, &.col.qty, &.col.subtotal{
                @media (max-width: $tablet){
                  width: 100%;
                  padding-left: 40%!important;
                  padding-right: 50px!important;
                  text-align: left;
                  float: left;
                }
              }
            }
          }
          input{
            &.input-text{
              border: 0;
              color: #000;
              font-size: 16px;
            }
          }
        }
        .col.price, .col.qty, .col.subtotal, .col.msrp, .col.delete{
          font-size: 14px;
          text-align: center;
          vertical-align: middle;
          position: relative;
        }
        .col.qty{
          div.mage-error{
            left: 50%;
            width: 180px;
            font-size: 12px;
            margin-left: -90px;
            position: absolute;
            box-shadow: 0 0 5px rgba(black,.5);
            background: #fff;
            padding: 5px;
            border-radius: 5px;
            white-space: normal;
          }
        }
        .price-excluding-tax .price{
          width: 100%;
          font-size: 14px;
          float: left;
        }
      }
      .cart.main.actions{
        .action{
          color: #999;
          background: none;
          border: 1px solid #ccc;
          padding: 7px 15px;
          height: 44px;
          font-size: 16px;
          line-height: 30px;
          font-weight: normal;
          &.continue:before, &.update:before{
            line-height: 28px;
          }
          &:hover{
            background: $secondColor;
              color: $colorHover;
          }
        }
      }
    }
  }
  .cart-summary{
    text-align: left;
    color: #000;
    @media (max-width: $tablet){
      top: 0!important;
      width: 100%;
    }
    >.title{
      font-weight: bold;
    }
    .mark, mark{
      width: 60%;
      background: none;
      .value{
        width: 100%;
        float: left;
      }
    }
    .label{
      color: #000;
      padding-left: 0;
    }
    .block{
      &.giftcard{
        display: none;
      }
      >.title{
        strong[role='heading']{
          font-size: 1.3rem;
        }
      }
      .fieldset .field:not(.choice)>.label{
        font-size: 12px;
      }
      .fieldset{
        width: 100%;
        float: left;
        .methods {
          .field>.label {
            width: 94%;
            white-space: normal;
            word-break: break-word;
            font-weight: normal;
            text-align: left;
            float: right;
          }
        }
      }
    }
    .totals-tax-details{
      border-bottom: 0;
    }
    .mark, .cart-totals .amount, .opc-block-summary .table-totals .amount{
      font-size: 13px;
      border-bottom: 0;
    }
    .cart-totals .amount, .opc-block-summary .table-totals .amount{
      @media (max-width: $tablet){
        width: 40%;
        float: left;
      }
    }
    input[type=checkbox], input[type=radio]{
      display: inline-block;
      ~ .label{
        font-size: 100%;
        padding-left: .6em;
      }
    }
    .checkout-methods-items{
      a{
        font-size: 14px;
      }
    }
    div.primary{
      width: 100%;
    }
    button.action.primary{
      width: 100%;
      min-width: 140px;
      background: $mainColor;
      display: inline-block;
      border: 0;
      color: #FFFFFF;
      font-size: 13px;
      font-weight: normal;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: nowrap;
      padding: 14px 17px;
      margin: 0;
      &:hover{
        background: $secondColor;
          color: $colorHover;
          border: 1px solid #1976a1;
      }
    }
  }
}
