.hero-banner{
  padding: 0;
  position: relative;
  margin-bottom: 40px;
  @media only screen and (max-width: 650px){
    margin-bottom: 20px;
  }
  img{
    width: 100%;
    float: left;
  }
  .container-fluid{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    @media only screen and (max-width: 650px){
      position: relative;
      margin: 20px 0;
      transform: translate(0);
      left: 0;
      top: 0;
      float: left;
    }
  }
  .wrapper-text{
    text-align: left;
    color: #2a2829;
    width: 56.33%;
    float: left;
    h1, p{
      display: block;
    }
    h1{
      font-size: 54px;
      margin-bottom: 0;
      text-transform: uppercase;
      @media only screen and (max-width: 1023px){
        font-size: 40px;
      }
      @media only screen and (max-width: 650px){
        font-size: 30px;
      }
    }
    p{
      font-size: 16px;
      font-family: $fontText;
      line-height: 25px;
      @media only screen and (max-width: 768px){
        display: none;
      }
    }
  }
}
