.login-container{
  text-align: left;
  .block{
    .block-title{
      color: $mainColor;
      text-transform: uppercase;
      font-family: $fontText;
      font-size: 24px;
    }
  }
  .fieldset:after{
    width: 100%;
    font-size: 12px;
    float: left;
  }
  .form {
    .fieldset{
      >.field{
        padding-left: 0;
        margin-bottom: 30px;
        @media only screen and (max-width: 768px){
          width: 100%;
          float: left;
        }
        &:not(.choice){
          >.label{
            max-width: 100%;
            text-align: left;
            @media only screen and (max-width: 768px){
              width: 100%;
              float: left;
            }
          }
          .control{
            max-width: 80%;
            @media only screen and (max-width: 768px){
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
    .actions-toolbar{
      width: 100%;
      max-width: 100%;
      margin-left: 0!important;
      float: left;
      .primary{
        float: left;
      }
    }
  }
}
.actions-toolbar{
  width: 100%;
}