<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="trax_ordenes" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Ordenes</label>
            <tab>trax</tab>
            <resource>Magento_Trax::config_ordenes</resource>
            <group id="ordenes_general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración IWS en Ordenes</label>
                <field id="store_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>StoreId</label>
                    <comment>StoreId de trax. Ejemplo: houseofmar</comment>
                </field>
                <field id="porcentaje_impuesto" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Porcentaje Impuesto</label>
                    <comment>Porcentaje de impuesto cobrado en el método de envío. Este valor es utilizado para realizar validación de datos enviados a TRAX</comment>
                </field>
                <field id="producto_impuesto" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Productos con Impuesto</label>
                    <comment>Indica si lso productos enviados a trax van con impuesto o no. Valores posibles true o false</comment>
                </field>
                <field id="ordenes_reintentos" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reintentos de conexión PlaceOrder</label>
                    <comment>Número de reintentos de conexión en servicio.</comment>
                </field>
                <field id="ordenes_correo" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Correo Electrónico PlaceOrder</label>
                    <comment>Correo electrónico de notificación cuando no se tiene conexión con los servicios.</comment>
                </field>
                <field id="pagos_reintentos" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reintentos de conexión RegisterPayments</label>
                    <comment>Número de reintentos de conexión en servicio.</comment>
                </field>
                <field id="pagos_correo" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Correo Electrónico RegisterPayments</label>
                    <comment>Correo electrónico de notificación cuando no se tiene conexión con los servicios.</comment>
                </field>
                <field id="inventario_reintentos" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reintentos de conexión ReleaseOrder</label>
                    <comment>Número de reintentos de conexión en servicio.</comment>
                </field>
                <field id="inventario_correo" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Correo Electrónico ReleaseOrder</label>
                    <comment>Correo electrónico de notificación cuando no se tiene conexión con los servicios.</comment>
                </field>
                <field id="cancelar_reintentos" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reintentos de conexión CancelOrder</label>
                    <comment>Número de reintentos de conexión en servicio.</comment>
                </field>
                <field id="cancelar_correo" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Correo Electrónico CancelOrder</label>
                    <comment>Correo electrónico de notificación cuando no se tiene conexión con los servicios.</comment>
                </field>
            </group>
        </section>
    </system>
</config>