<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system> 
        <section id="auditoria" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Auditoria</label>
            <tab>intcomex_config</tab> 
            <resource>Intcomex_Auditoria::auditoria_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración Auditoria precios</label>
                <field id="porcentaje_validacion" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Porcentaje de validación</label>
                </field>
                <field id="correos_alerta" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Correos Alerta</label>
                </field>
                <field id="mensaje_alerta" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mensaje Alerta</label>
                </field>
                <field id="url_pricelist" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Precio de lista</label>
                </field>
            </group>
        </section>
    </system>
</config>