table{
  &.payment-result{
    text-align: left;
  }
}
.checkout-success, #registration{
	.actions-toolbar{
		text-align: center;
		.primary{
			float: none;
			display: inline-block;
		}
		.action {
			border-radius: 3px;
		}
	}
}