<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipping>
            <mienvio_api>
                <user>mienvio</user>
                <password>mienvioapi</password>
                <apuntar_a>0</apuntar_a>
                <url_staging>https://sandbox.mienvio.mx/api/quotes/</url_staging>
                <url_produccion>https://mienvio.mx/api/quotes/</url_produccion>
            </mienvio_api>
        </shipping>
    </default>
</config>