<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="intcomex_crocs_product_save_before" instance="Intcomex\Crocs\Observer\BeforeSaveProduct" />
    </event>
    <event name="intcomex_crocs_catalog_product_save_before">
        <observer name="intcomex_crocs_product_save_before_custom" instance="Intcomex\Crocs\Observer\BeforeSaveProduct" />
    </event>
</config>
