<!--
/**
 * Pasarela_Bancomer default payment configuration
 *
 * @category    Bancomer
 * @package     Pasarela_Bancomer
 * @author      Valentina Aguirre
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pasarela_bancomer" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bancomer Multipagos</label>
                <comment>
                    <![CDATA[<a href="https://sand-portal.ecommercebbva.com/login" target="_blank">Clic aquí para registrar una cuenta sandbox con Bancomer</a><br><a href="https://portal.ecommercebbva.com/login" target="_blank">Clic aquí para iniciar sesión en producción</a>]]>
                </comment>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Habilitar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_sandbox" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="url_sandbox_bancomer" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>URL Sandbox</label>
                </field>
                <field id="url_produccion_bancomer" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>URL Producción</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Título</label>
                </field>
                <field id="sandbox_mp_account" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox mp_account</label>
                    <comment>Identificador único cliente Proporcionado por Flap en pruebas de conectividad</comment>
                </field>
                <field id="sandbox_mp_node" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox mp_node</label>
                    <comment>Según necesidad del cliente. Divisiones: sucursales, áreas, secciones, etc. – El valor a enviar se confirma en pruebas de conectividad</comment>
                </field>
                <field id="sandbox_mp_concept" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox mp_concept</label>
                    <comment>Según necesidad del cliente. Clasificación de los cobros o pagos. El valor a enviar se confirma en pruebas de conectividad</comment>
                </field>
                <field id="sandbox_private_key" translate="label" type="obscure" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Producción llave privada</label>                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Es única y la asigna Flap por primera vez.</comment>            
                </field>   
                <field id="live_mp_account" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Producción mp_account</label>
                    <comment>Identificador único cliente Proporcionado por Flap en pruebas de conectividad</comment>
                </field>
                <field id="live_mp_node" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Producción mp_node</label>
                    <comment>Según necesidad del cliente. Divisiones: sucursales, áreas, secciones, etc. – El valor a enviar se confirma en pruebas de conectividad</comment>
                </field>
                <field id="live_mp_concept" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Producción mp_concept</label>                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Según necesidad del cliente. Clasificación de los cobros o pagos. El valor a enviar se confirma en pruebas de conectividad</comment>            
                </field>
                <field id="live_private_key" translate="label" type="obscure" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Producción llave privada</label>
                    <comment>Es única y la asigna Flap por primera vez.</comment>            
                </field>    
            </group>
        </section>
    </system>
</config>