<?xml version="1.0"?>
<!--
*   TradeIn Module Dependency
*
*   @category   TradeIn
*   @package    TradeIn
*   @author     Intcomex
*   @copyright  Intcomex (https://www.intcomex.com/)
*
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Intcomex_TradeIn" setup_version="1.1.0"> 
    </module>
</config>
