$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1400px !default;
$mainColor: #0076CE;
$colorHover: #00447c;
$colorLink:#0076CE;
$bgColorSecond:#282829;
$colorText:#282829;
$redcolor:#0076CE;
$fontText:'Roboto', sans-serif;
$fontTextTitle:'Roboto', sans-serif;
