<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <store_information>
                <disclaimer></disclaimer>
                <sitemap>sitemap</sitemap>
                <privacypolicy>privacy-policy</privacypolicy>
                <termsofuse>terms-of-use</termsofuse>
                <contacts>contacts</contacts>
                <custom_disable_checkout>0</custom_disable_checkout>
            </store_information>
        </general>
    </default>
</config>
