<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <store_information>
                <sitemap>sitemap</sitemap>
                <privacypolicy>privacy-policy</privacypolicy>
                <termsofuse>terms-of-use</termsofuse>
                <contacts>contacts</contacts>
                <custom_disable_checkout>0</custom_disable_checkout>
            </store_information>
        </general>
        <customer>
            <address>
                <billing_name_label></billing_name_label>
                <billing_identification_label></billing_identification_label>
                <billing_address_label></billing_address_label>
            </address>
        </customer>
        <checkout>
            <options>
                <show_invoice>1</show_invoice>
                <invoice_default_value></invoice_default_value>
                <invoice_label></invoice_label>
            </options>
        </checkout>
        <productslider>
            <general>
                <enabled_product_view>1</enabled_product_view>
            </general>
        </productslider>
    </default>
</config>
