<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Category\View" type="Cdi\Custom\Block\Category\View" />
    <preference for="Magento\Checkout\Block\Checkout\LayoutProcessor" type="Cdi\Custom\Block\Checkout\LayoutProcessor" />
    <preference for="Magento\Theme\Block\Html\Footer" type="Cdi\Custom\Block\Html\Footer" />
    <preference for="Magento\Checkout\Model\ShippingInformationManagement" type="Cdi\Custom\Model\ShippingInformationManagement" />
    <preference for="Magento\Checkout\Model\PaymentInformationManagement" type="Cdi\Custom\Model\PaymentInformationManagement" />
    <preference for="Magento\Checkout\Model\GuestPaymentInformationManagement" type="Cdi\Custom\Model\GuestPaymentInformationManagement" />
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin disabled="false" name="Cdi_Custom_Plugin_Block_Checkout_LayoutProcessor" sortOrder="100" type="Cdi\Custom\Plugin\Block\Checkout\LayoutProcessor"/>
    </type>
    <preference for="Magento\Contact\Controller\Index\Post" type="Cdi\Custom\Controller\Index\Post" />
    <type name="Magento\Catalog\Model\Layer">
        <plugin name="product_sort_by_stock" type="Cdi\Custom\Model\Plugin\Layer"/>
    </type>
</config>