<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="checkout-billing-address">
    <div class="billing-address-invoice-block field choice" data-bind="visible: canUseInvoice()">
        <input type="checkbox" name="billing-address-invoice"
               data-bind="checked: isInvoiceSelected, click: useInvoice, attr: {
                    id: 'billing-address-invoice-' + getCode($parent),
                    name: 'payment[billing-address-invoice-' + getCode($parent) + ']'
                }"/>
        <label data-bind="attr: {for: 'billing-address-invoice-' + getCode($parent)}"><span
                data-bind="i18n: invoiceLabel()"></span></label>
    </div>
    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
        <input type="checkbox" name="billing-address-same-as-shipping"
               data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping-' + getCode($parent)}"/>
        <label data-bind="attr: {for: 'billing-address-same-as-shipping-' + getCode($parent)}"><span
                data-bind="i18n: 'My billing and shipping address are the same'"></span><span class="invoice_uncheck" data-bind="i18n: 'Please uncheck the box if you want to add your Invoice details'" ></span></label>
    </div>
    <render args="detailsTemplate"/>
    <fieldset class="fieldset" data-bind="visible: !isAddressDetailsVisible()">
        <each args="getRegion('billing-address-list')" render="" />
        <div data-bind="fadeVisible: isAddressFormVisible">
            <render args="formTemplate"/>
        </div>
        <render args="actionsTemplate"/>
    </fieldset>
</div>
