<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Intcomex\Credomatic\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Intcomex\Credomatic\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">myLoggerName</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Intcomex\Credomatic\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- Capture command -->
    <virtualType name="CredomaticCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Intcomex\Credomatic\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Intcomex\Credomatic\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Intcomex\Credomatic\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Intcomex\Credomatic\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Intcomex\Credomatic\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>
</config>