<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shipping">
            <group id="mienvio_api" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mienvio api</label>
                <comment>
                    <![CDATA[Configuración de webhook para mienvio y posterior consumo de api de mienvio]]>
                </comment>
                <field id="user" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Usuario</label>
                    <comment>Usuario para conectarse al webhook</comment>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contraseña</label>
                    <comment>Contraseña para conectarse al webhook</comment>            
                </field>   
            </group>
        </section>
    </system>
</config>