<?xml version="1.0"?>
<!--
/**
 * Pasarela_Bancomer DI definitions
 *
 * @category    Bancomer
 * @package     Pasarela_Bancomer
 * @author      Valentina Aguirre
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Pasarela\Bancomer\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="pasarela_bancomer" xsi:type="const">Pasarela\Bancomer\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>    
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="pasarela_bancomer_config_provider" xsi:type="object">Pasarela\Bancomer\Model\BancomerConfigProvider</item>
            </argument>
        </arguments>
    </type>
    
</config>
