@pasarelagrid-icons-admin__font-name-path: '@{baseDir}Pasarela_Grid/fonts/grid';
@pasarelagrid-icons-admin__font-name : 'Grid';
.lib-font-face(
  @family-name:@pasarelagrid-icons-admin__font-name,
  @font-path: @pasarelagrid-icons-admin__font-name-path,
  @font-weight: normal,
  @font-style: normal
);
.admin__menu .item-manager.parent.level-0 > a:before {
  font-family: @pasarelagrid-icons-admin__font-name;
  content: "\0041";
}