.message{
  &.info{
    color: #000;
    text-align: center;
    background: none;
    margin: 20px auto;
    padding: 15px 20px 15px 40px;
    border: 1px solid #000;
    >*:first-child:before{
      top: 25px;
      color: #000;
      font-size: 40px;
    }
  }
  &.success, &.info, &.warning, &.error{
    font-size: 1.3rem;
  }
}
.modals-wrapper{
  .modal-popup{
    .modal-inner-wrap{
      max-width: 650px;
      @media only screen and (max-width: $mobile){
        width: 90%;
        max-width: 650px;
      }
      .modal-header, .modal-footer{
        border: 0;
      }
      .modal-content{
        font-size: 20px;
        font-weight: bold;
        padding: 0 15px;
        border-radius: 0;
        box-shadow: none;
        border: 0;
        form {
          font-size: 14px;
          font-weight: 400; 
        }
      }
      .modal-footer{
        text-align: center;
        @media only screen and (max-width: $mobile){
          padding: 1rem 1rem 3rem;
        }
        button{
          width: auto;
          min-width: 120px;
          font-size: 16px;
          padding: 0 25px;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          vertical-align: middle;
          background: none;
          min-height: 40px;
          line-height: 40px;
          white-space: normal;
          border-radius: 5px;
          float: none;
          @media only screen and (max-width: $mobile){
            width: 100%;
            margin: 0 0 10px;
            &:last-child{
              margin: 0;
            }
          }
          &.action-primary, &.action.primary{
            color: #fff;
            background: $mainColor;
            border: 2px solid $mainColor;
            &:hover{
              color: #fff;
              background: #9ddfff;
              border: 2px solid #9ddfff;
            }
          }
          &.action-secondary, &.action.secondary{
            color: $mainColor;
            border: 2px solid $mainColor;
            &:hover{
              color: #fff;
              background: #9ddfff;
              border: 2px solid #9ddfff;
            }
          }
        }
      }
    }
  }
}