<?xml version="1.0"?>
<!--
/**
* Pagalo default configuration
*
* @category    Pagalo
* @package     Pagalo
* @author      Pagalo
* @copyright   Pagalo (https://www.pagalo.com/)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pagalo>
                <active>0</active>
                <model>Magento\Pagalo\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Pagalo</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>VI,MC</cctypes>
                <!-- allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total-->
            </pagalo>
        </payment>
    </default>
</config>
