<!--
/**
 * Intcomex_MienvioRewrites
 *
 * @category    Rewrites
 * @package     Intcomex_MienvioRewrites
 * @author      Rafael Ferrer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Intcomex_MienvioRewrites" setup_version="1.0.0" active="true"/>
</config>
