.banner{
  &.main-category-banner{
    .text-block-banner {
      .text-overlay-banner.banner-text-left{
        left: 17%;
      }
      .text-overlay-banner{
        .caption-title{
          font-size: 60px;
          font-weight: bold;
          font-family: 'Gilroy-Medium', 'Helvetica', sans-serif;
          line-height: 110%;
          margin: 0;
        }
        .caption-desc{
          font-size: 25px;  
          font-family: 'Graphik-Light', 'Helvetica', sans-serif;
          line-height: normal;
        }
      }
    }
  }
  &.banner-background{
    min-height: 300px;
    .text-overlay-banner{
      padding: 10% 0;
      position: relative;
      z-index: 99;
      margin: auto;
    }
    &.without-caption{
      min-height: 600px;
      .text-overlay-banner{
        display: none;
      }
    }
  }
  &.bgcolor-light{
    h1, h2, h3{
      color: #636363;
    }
    p{
      color: #373737;
    }
  }
  .container{
    max-width: 1140px!important;
  }
  .text-block-banner{
    img{
      max-width: 840px;
    }
    .text-overlay-banner{
      width: 88%;
      max-width: 410px;
      color: #fff;
      font-size: 18px;
      text-align: left;
      &.banner-text-center{
        text-align: center;
        .caption-desc{
          margin-left: auto;
          margin-right: auto;
        }
        &.banner-text-vertical-bottom{
          position: absolute;
          bottom: 5%;
          left: 50%;
          transform: translate(-50%);
        }
        &.banner-text-vertical-middle{
          max-width: 610px;
        }
      }
      &.banner-text-left{
        float: left;
      }
      &.banner-text-right{
        float: right;
      }
      h1, h2, h3{
        font-family: Gilroy-Medium, Helvetica, Arial, sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: .5em;
      }
      p{
        margin-bottom: 1.5em;
      }
    }
  }
}
.catalog-product-view{
  .banner {
    &.banner-background.bgSizeAuto{
      background-size: auto!important;
      .text-block-banner .text-overlay-banner {
        &.banner-text-center{
          &.banner-text-vertical-top{
            background-position: center bottom!important;
          }
        }
      }
    }
    .text-block-banner .text-overlay-banner {
      .caption-desc{
        font-family: 'Graphik-Light';
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        font-size: 24px;
      }
      &.banner-text-center{
        &.banner-text-vertical-top{
          padding: 3% 0 55rem;
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }
  }
}