.banner{
  &.banner-background{
    min-height: 300px;
    .text-overlay-banner{
      padding: 10% 0;
      position: relative;
      z-index: 99;
      margin: auto;
    }
    &.without-caption{
      min-height: 600px;  
    }
  }
  &.bgcolor-light{
    h1, h2, h3{
      color: #636363;
    }
    p{
      color: #373737;
    }
  }
  .container{
    max-width: 1140px!important;
  }
  .text-block-banner{
    img{
      max-width: 840px;
    }
    .text-overlay-banner{
      width: 88%;
      max-width: 410px;
      color: #fff;
      font-size: 18px;
      text-align: left;
      &.banner-text-center{
        text-align: center;
        .caption-desc{
          margin-left: auto;
          margin-right: auto;
        }
        &.banner-text-vertical-bottom{
          position: absolute;
          bottom: 5%;
          left: 50%;
          transform: translate(-50%);
        }
        &.banner-text-vertical-middle{
          max-width: 610px;
        }
      }
      &.banner-text-left{
        float: left;
      }
      &.banner-text-right{
        float: right;
      }
      h1, h2, h3{
        font-family: Gilroy-Medium, Helvetica, Arial, sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: .5em;
      }
      p{
        margin-bottom: 1.5em;
      }
    }
  }
}