.checkout-index-index{
  .page-wrapper .page-main .columns .column.main{
    max-width: 1300px;
    margin: 0 auto;
    @media (min-width: $tablet){
      width: 90%;
    }
  }
  .checkout-container{
    margin: 40px 0 20px;
  }
  .opc-progress-bar-item._active{
    &:before{
      background: #00aeef;
    }
    >span:before{
      background: #00aeef;
    }
  }
  .opc-wrapper {
    .shipping-address-item.selected-item{
      border-color: #00aeef;
      &:after{
        background: #00aeef;
      }
    }
  }
}
