.contact-index-index{
  .container{
    max-width: 975px;
  }
  .column.main{
    color: #636363;
    padding-top: 40px;
  }
  .sidebar{
    text-align: left;
  }
}
form.contact{
  text-align: left;
  fieldset {
    margin: 2em 0;
  }
  .legend{
    display: none;
  }
  .group-select {
    .field-label, label{
      float: left;
      clear: left;
      width: 175px;
      text-align: right;
      font-weight: normal;
      margin: 0 .5em .5em 0;
    }
    input, textarea{
      float: left;
      width: 250px;
    }
    textarea{
      width: 100%;
      height: 150px;
    }
  }
  .note {
    clear: left;
    width: 410px;
    margin-left: 185px;
    font-size: .9em;
    line-height: 1.2em;
  }
  .form-buttons {
    margin: 0;
    width: 100%;
    button.button {
      height: 30px;
      font-size: 15px;
      font-weight: 700;
      color: #fff;
      background-color: #000;
      transition: background-color .3s linear;
      line-height: 100%;
      padding: 0 1rem;
      border-radius: 0;
      float: right;
      margin-left: 7px;
    }
  }
  input.input-text, textarea{
    padding-top: 5px;
  }
  button, input, select, textarea {
    vertical-align: middle;
    color: #444;
  }
}