.contact-index-index{
  .container{
    max-width: 975px;
  }
  .column.main{
    color: #636363;
    padding-top: 40px;
  }
  .sidebar{
    text-align: left;
  }
}
form.contact{
  text-align: left;
}