.magestore-bannerslider-standard{
  overflow: hidden;
  @media (max-width: $tablet){
    width: 100%;
  }
  .flexslider{
    background: #000;
  }
  .magestore-bannerslider-title{
    display: none;
  }
  .magestore-bannerslide-flex-slider{
    margin: 0!important;
    ul.slides{
      li{
        section{
          .container{
            padding: 0;
          }
          .text-overlay-banner{
            left: 5%;
            top: 17%;
            bottom: 27%;
            width: 90%;
            max-width: 1155px;
            position: absolute;
            margin: auto;
            height: 57%;
            font-size: 24px;
            &.banner-text-left{
              text-align: left;
            }
            &.banner-text-right{
              text-align: right; 
            }
            .caption-title, .caption-desc{
              width: 100%;
              max-width: 560px;
              display: block;
            }
            .caption-title{
              font-family: 'Gilroy-bold', Arial, Helvetica, sans-serif;
              letter-spacing: normal;
              font-weight: normal;
              color: #ffffff;
              font-size: 70px;
              text-transform: uppercase;
              line-height: .9;
              margin-top: 4%;
              @media (max-width: $tablet){
                font-size: 40px;
                margin-top: 0;
              }
            }
            .caption-desc{
              font-family: 'Graphik-Regular', 'Helvetica', sans-serif;
              font-size: 25px;
              font-weight: normal;
              color: #fff;
              text-transform: none;
              display: block;
              @media (max-width: $tablet){
                font-size: 20px;
                line-height: normal;
              }
            }
            .banner-button{
              font-family: 'Graphik-Regular', 'Helvetica', sans-serif;
              padding: 10px 0;
              background: transparent;
              border: 2px solid #00aeef;
              display: inline-block;
              font-size: 16px;
              text-transform: uppercase;
              text-align: center;
              margin: 5% auto 0 0;
              width: 200px;
              max-height: 43px !important;
              @media (max-width: $tablet){
                margin: 3% auto 0 0;
              }
              &:hover{
                background: #00aeef;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .flex-control-nav{
      bottom: 1%;
      margin-bottom: 1.5rem;
      &.flex-control-paging{
        li {
          a{
            width: 16px;
            height: 16px;
            background: transparent;
            border: 2px solid #fff;
            border-radius: 50%;
            box-shadow: none;
            &.flex-active{
              background: #fff;
              cursor: default;
              border: 1px solid #fff;
            }
          }
        }
      }
    }
  }
}
section.BSsec3{
  .magestore-bannerslider-standard{
    width: 100%;
    max-width: 840px;
    margin: auto;
    position: relative;
    .magestore-bannerslide-flex-slider{
      ul.slides{
        li{
          section{
            .text-overlay-banner{
              top: 16%;
              left: 6%;
              width: 90%;
              max-width: 340px;
              position: absolute;
              text-align: left;
              .caption-title{
                color: #fff;
                font-size: 24px;
                font-weight: 300;
                margin: 0 0 .5em;
                font-family: 'Graphik-Regular', 'Helvetica', sans-serif;
              }
              .caption-desc{
                color: #fff;
                font-size: 16px;
                line-height: normal;
              }
              .banner-button{
                width: 120px;
              }
            }
          }
        }
      }
      .flex-direction-nav{
        display: none;
      }
      .flex-control-nav{
        right: 0;
        width: 100%;
        padding-left: 0;
        display: block;
      }
    }
  }
}