.page-wrapper{
  .page-header{
    top: 0;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 9999;
    background: #000;
    transition: all linear .3s;
    line-height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    &.nav-up {
      top: -140px;
    }
    .header-container{
      padding: 20px 0;
    }
    .header{
      width: 100%;
      max-width: 1095px;
      text-align: right;
      padding: 0 2.5%;
      margin: 0 auto;
      position: relative;
      z-index: 5;
      display: inline-block;
      .header-mainmenu{
        .nav-sections{
          margin-bottom: 0;
          background: none;
          .navigation{
            background: none;
            ul{
              li{
                height: 55px;
                margin: 0 1.25%;
                padding: 0 1.25%;
                display: inline-block;
                &.active{
                  a.level-top{
                    @media (min-width: $tablet){
                      border: 0;
                    }
                  }
                }
                a{
                  color: #c2c2c2;
                  font-size: 16px;
                  line-height: 55px;
                  font-family: 'Gilroy-SemiBold', 'Helvetica', sans-serif;
                  text-transform: uppercase;
                  transition: all 0.3s ease;
                  padding: 0;
                  &:hover{
                    color: #00abf2;
                  }
                  span{
                    display: table;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
        }
      }
      .quick-access{
        width: 100%;
        height: 55px;
        float: none;
        display: inline-block;
        position: relative;
        top: 0;
        a{
          color: #fff;
          text-transform: uppercase;
          transition: color 125ms ease-in 0s;
          &.menuToggle {
            cursor: pointer;
          }
        }
        .SOLburger {
          display: inline-block;
          height: 40px;
          width: 35px;
          padding: 0;
          overflow: hidden;
          position: relative;
          top: 15px;
          left: 0;
          &.inmenu {
            top: 20px;
            left: 15px;
          }
          &.is-clicked {
            .cd-menu-icon {
              background-color: rgba(255, 255, 255, 0);
              &:before, &:after {
                background-color: #00abf2;
              }
              &:before{
                top: 0;
                transform: rotate(135deg);
              }
              &:after {
                top: 0;
                transform: rotate(225deg);
              }
            }
          }
          .cd-menu-icon {
            top: 13px;
            left: 17px;
            width: 35px;
            height: 4px;
            position: absolute;
            display: inline-block;
            transform: translateX(-50%) translateY(-50%);
            background-color: #c2c2c2;
            transition: background-color 0.3s;
            &:before, &:after {
              content: '';
              right: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              background-color: #c2c2c2;
              transition: transform .3s, top .3s, background-color 0s;
            }
            &:before {
              top: -10px;
            }
            &:after {
              top: 10px;
            }
          }
        }
      }
    }
    .logo {
      margin: 0;
      float: left;
      max-width: none;
      img {
        width: auto;
        height: 55px;
        max-width: none;
      }
    }
  }
}
.sideMenu {
  top: 0;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.92);
  width: 100%;
  max-width: 600px;
  right: -101%;
  z-index: 999999;
  color: #c2c2c2;
  font-size: 21px;
  font-family: 'Gilroy-SemiBold', 'Helvetica', sans-serif;
  border: 1px solid transparent;
  .sideMenuPad {
    padding: 70px 4% 2%;
    text-align: left;
  }
  a {
    color: #c2c2c2;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  ul {
    margin: 0 0;
    li {
      text-transform: uppercase;
      line-height: 2.25;
    }
  }
  .sideMenuNav {
    margin-bottom: 10px;
  }
  .grid {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}
a.menuToggle.SOLburger.inmenu {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 40px;
}
.navContainer.sideNav ul.nav {
  display: none;
}
.sideMenuSearch, .sideMenuSocial {
  margin-bottom: 30px;
}
.sideMenuSocial {
  h3 {
    color: #c2c2c2;
    font-size: 21px;
    font-family: 'Gilroy-SemiBold', 'Helvetica', sans-serif;
    margin-top: 10px;
  }
  .grid-item{
    width: 16.667%;
    float: left;
    min-height: 1px;
    padding-right: 20px;
    img{
      width: 26px;
    }
  }
}