.page-wrapper{
  .page-header{
    top: 0;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 9999;
    background: #000;
    transition: all linear .3s;
    padding: 0 0 20px 0;
    margin: 0;
    .header-container{
        padding: 20px 0;
    }
    .header{
        width: 95%;
        max-width: 1095px;
        text-align: right;
        padding: 0 2.5%;
        margin: 0 auto;
        position: relative;
        z-index: 5;
        display: inline-block;
    }
    .logo {
        margin: 0;
        float: left;
        max-width: none;
        img {
            width: auto;
            height: 55px;
            max-width: none;
        }
    }
  }
}
