.columns{
  .column.main{
    padding-bottom: 0;
  }
}
.whiteBG {
  background-color: #fff;
  color: #636363;
}
.ltgryBG {
  background-color: #e8e9e9;
  color: #636363;
  h1, h3{
    color: #636363;
  }
}
.blkbg, .blkBG {
  background-color: #000;
}
section.BSsec2 {
  padding: 6% 0;
  .textContain{
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    p{
      margin-bottom: 1.5em;
    }
  }
}
section.BSsec3 {
  padding: 6% 0;
}
.secContain {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 701px;
  margin: 0 auto;
  overflow: hidden;
}
.flex-container {
  max-width: 840px;
  margin: auto;
}
.SOLvideo{
  .content {
    max-width: 640px;
    margin: 6% auto;
  }
  .video-container{
    height: 0;
    position: relative;
    padding-bottom: 30.25%;
    padding-top: 25px;
    max-width: 640px;
    margin: 6% auto;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }  
  }
}
.videoWrapper {
  height: 0;
  position: relative;
  padding-bottom: 30.25%;
  padding-top: 25px;
  max-width: 640px;
  margin: 6% auto;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.cms-page-view h2 {
  font-size: 22px;
  font-weight: 300;
  font-family: Gilroy-Regular, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: .5em;
}
h3.blktxt {
  color: #636363;
}
.button {
  padding: 6px 13px 5px;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
  line-height: 45px;
  font-weight: 700;
}
.page-wrapper .page-main{
  padding: 95px 0 0;
  @media (min-width: $tablet){
    padding: 95px 0 0;
  }
}
.HPsec2 {
  color: #fff;
  background: #000;
  max-width: 1400px;
  margin: auto;
}
.HPsec4 {
  background: #ebebeb;
  color: #373737;
}
.HPsec6 {
  background: url(../images/banners/sec6BG.jpg) center center no-repeat #000;
  background-size: cover;
  .secContain{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    &.short{
      max-height: 440px;
    }
  }
  img.iPhone{
    width: auto;
    display: block;
    float: right;
    margin-left: auto;
  }
  .textContain {
    width: 80%;
    display: inline-block;
    padding: 10% 0;
    margin: auto;
    text-align: left;
    color: #fff;
    p{
      font-size: 18px;
      margin-bottom: 1.5em;
    }
  }
}
a.appstoreBtn, a.playstoreBtn {
  display: inline-block;
  width: 100%;
  max-width: 131px;
  padding-top: 16%;
  transition: opacity 0.3s linear;
  &:hover{
    opacity: 0.75;
    transition: opacity 0.3s linear;
  }
}
a.appstoreBtn {
  background: url(../images/app-store.png) center center no-repeat transparent;
  background-size: contain;
  margin-right: 3%;
}
a.playstoreBtn {
  background: url(../images/play-store.png) center center no-repeat transparent;
  background-size: contain;
}