.columns{
  .column.main{
    padding-bottom: 0;
  }
}
.whiteBG {
  background-color: #fff;
  color: #636363;
}
.ltgryBG {
  background-color: #e8e9e9;
  color: #636363;
  h1, h3{
    color: #636363;
  }
}
.blkbg, .blkBG {
  background-color: #000;
}
section.BSsec2 {
  padding: 6% 0;
  .textContain{
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    p{
      margin-bottom: 1.5em;
    }
  }
}
section.BSsec3 {
  padding: 6% 0;
  @media (max-width: $mobile){
    padding: 0;
  }
}
.secContain {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 701px;
  margin: 0 auto;
  overflow: hidden;
}
.flex-container {
  max-width: 840px;
  margin: auto;
}
.SOLvideo{
  .content {
    max-width: 640px;
    margin: 6% auto;
  }
  .video-container{
    height: 0;
    position: relative;
    padding-bottom: 30.25%;
    padding-top: 25px;
    max-width: 640px;
    margin: 6% auto;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }  
  }
}
.videoWrapper {
  height: 0;
  position: relative;
  padding-bottom: 30.25%;
  padding-top: 25px;
  max-width: 640px;
  margin: 6% auto;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.contentPadding {
  padding: 6% 0 0 2%;
}
.BSsec5 {
  .contentPadding {
    padding: 6% 2%;
    color: #fff;
  }
  .txtPad {
    text-align: left;
    padding: 30% 10% 0;
  }
}
.cms-page-view h2 {
  font-size: 22px;
  font-weight: 300;
  font-family: Gilroy-Regular, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: .5em;
}
h3.blktxt {
  color: #636363;
}
.button {
  padding: 6px 13px 5px;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
  line-height: 45px;
  font-weight: 700;
}
.page-wrapper .page-main{
  padding: 95px 0 0;
  @media (min-width: $tablet){
    padding: 95px 0 0;
    max-width: 100%;
  }
}
.cms-index-index .page-layout-1column{
  .page-wrapper .page-main{
    background: #000;
  }
}
.HPsec2 {
  color: #fff;
  background: #000;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  clear: both;
}
.HPsec4 {
  background-color: #ebebeb!important;
  color: #373737;
  @media (max-width: $mobile){
    &.banner .text-block-banner .text-overlay-banner{
      text-align: center;
    }
  }
}
.HPsec6 {
  background: url(../images/banners/sec6BG.jpg) center center no-repeat #000;
  background-size: cover;
  @media (max-width: $mobile){
    background: url(../images/banners/sec6BG-mobile.jpg) center center no-repeat #000;
    background-size: cover;
  }
  .secContain{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    &.short{
      max-height: 440px;
      @media (max-width: $mobile){
        max-height: none;
      }
    }
    .iPhone{
      @media (max-width: $mobile){
        display: none;
      }
    }
    .textContain{
      @media (max-width: $mobile){
        width: 76%;
        display: block;
        padding: 60% 0 0;
        margin: 0 auto 40px;
        text-align: center;
      } 
    }
  }
  img.iPhone{
    width: auto;
    display: block;
    float: right;
    margin-left: auto;
  }
  .textContain {
    width: 80%;
    display: inline-block;
    padding: 10% 0;
    margin: auto;
    text-align: left;
    color: #fff;
    p{
      font-size: 18px;
      margin-bottom: 1.5em;
    }
  }
}
.HPsec7{
  &.banner.banner-background{
    @media (max-width: $mobile){
      background-size: cover!important;
      .text-block-banner .text-overlay-banner.banner-text-center.banner-text-vertical-middle{
        padding: 30% 0;
      }
    }
  }
}
a.appstoreBtn, a.playstoreBtn {
  display: inline-block;
  width: 100%;
  max-width: 131px;
  padding-top: 16%;
  transition: opacity 0.3s linear;
  @media (max-width: $mobile){
    max-width: 124px;
  }
  &:hover{
    opacity: 0.75;
    transition: opacity 0.3s linear;
  }
}
a.appstoreBtn {
  background: url(../images/app-store.png) center center no-repeat transparent;
  background-size: contain;
  margin-right: 3%;
}
a.playstoreBtn {
  background: url(../images/play-store.png) center center no-repeat transparent;
  background-size: contain;
}
body.catalog-product-view{
  .page-wrapper .page-main{
  }
}
body.cms-terms-of-use, body.cms-privacy-policy{
  .page-wrapper .page-main{
    .column.main .std{
      text-align: left;
      max-width: 1040px;
      margin: 6% auto;
      padding: 20px;
      padding-top: 6%;
      color: #636363;
      h3, h4{
        margin: 0;
        margin-bottom: .3em;
        font-size: 1.1em;
        color: #000;
      }
      p{
        color: #464646;
        margin-bottom: 1.5em;
        strong, b{
          color: #000;
        }
      }
    }
  }
}
.page-title-wrapper{
  margin: 40px 0 0;
}
.product-essential {
  padding: 3% 0;
  background: #e5e5e5;
  .product-info_main{
    padding-top: 10%;
    text-align: left;
    .productpage_tagline{
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Gilroy-Medium', Helvetica, arial, sans-serif;
      font-weight: 100;
      color: #636363;
      line-height: 1;
      font-size: 30px;
    }
    .product.attribute.sku{
      width: 100%;
      color: #636363;
      padding: 0;
      margin: 10px 0;
      display: block;
    }
    .price-box{
      width: 100%;
      font-family: 'Graphik-Light', Helvetica, arial, sans-serif;
      font-weight: 500;
      color: #636363;
      margin: 0 0 130px;
      padding: 0;
      .price{
        font-size: 21px;
        line-height: 125%;
      }
    }
  }
  .product-options-wrapper{
    width: 100%;
    margin: 0;
    padding: 10px 0;
    .swatch-opt{
      margin: 0;
      .swatch-attribute-label{
        float: left;
        padding: 0;
        font-family: Graphik-Light, Helvetica, Arial, sans-serif;
        color: #636363;
        text-transform: capitalize;
        display: block;
        margin-bottom: 10px;
      }
      .swatch-attribute-options{
        padding: 10px 0;
        display: block;
        .swatch-option{
          height: 43px;
          width: 43px;
          border: 1px solid #ccc;
          margin: 0 5px 3px;
          border-radius: 50%;
          &:hover{
            outline: none!important;
          }
        }
      }
    }
  }
}
.swatch-option-tooltip{
  display: none!important;
}