.form-subscribe{
  background: transparent;
  color: #636363;
  float: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 6% 0 2%;
  max-width: 400px;
  min-height: 123px;
  #mc_embed_signup {
    background: transparent;
    clear: left;
    form{
      display: inline-block;
      position: relative;
      text-align: left;
      padding: 10px 0 10px 3%;
    }
    .mc-field-group{
      position: relative;
      width: 100%;
      padding-bottom: 3%;
      min-height: 50px;
      clear: left;
      float: left;
      input{
        display: block;
        width: 100%;
        padding: 8px 0;
        text-indent: 2%;
        border-radius: 0;
        &.email{
          display: inline-block;
          width: 100%;
          height: 42px;
          padding: 0 2%;
          font-size: 16px;
          text-transform: uppercase;
          margin: 0 0 10px;
          outline: none;
          border: 2px solid #afaead;
          color: #afaead;
        }
        &.button{
          display: inline-block;
          width: 100%;
          height: 44px;
          padding: 0;
          border-radius: unset;
          text-transform: uppercase;
          text-shadow: none;
          font-size: 18px;
          margin: 0;
          background: transparent;
          color: #00abf2;
          border: 2px solid #00abf2;
        }
      }
    }
    .button{
      clear: both;
      background-color: #aaa;
      border: 0 none;
      border-radius: 4px;
      transition: all .23s ease-in-out 0s;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-size: 15px;
      font-weight: normal;
      height: 32px;
      line-height: 32px;
      margin: 0 5px 10px 0;
      padding: 0 22px;
      text-align: center;
      text-decoration: none;
      vertical-align: top;
      white-space: nowrap;
      width: auto;
    }
  }
  .fields{
    display: block;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    text-align: center;
  }
  h3, p{
    text-align: center;
    color: #636363;
  }
}
