<?xml version="1.0"?>
<!--
/**
* PagaloMasterCard module dependency
*
* @category    PagaloMasterCard
* @package     PagaloMasterCard
* @author      PagaloMasterCard
* @copyright   PagaloMasterCard (https://www.pagalo.com/)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magento_PagaloMasterCard" setup_version="1.0.1">
        <sequence>
            <module name="Magento_Sales" />
            <module name="Magento_Payment" />
            <module name="Magento_Directory" />
            <module name="Magento_Config" />
        </sequence>
    </module>
</config>
