<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Controller\Onepage\Failure" type="Intcomex\MercadopagoRewrites\Controller\Onepage\Failure" />
    <preference for="Magento\Checkout\Block\Onepage\Failure" type="Intcomex\MercadopagoRewrites\Block\Onepage\Failure" />
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Intcomex\MercadopagoRewrites\Block\Onepage\Success" />

    <preference for="MercadoPago\Core\Model\Notifications\Topics\Payment" type="Intcomex\MercadopagoRewrites\Model\Notifications\Topics\Payment" />
</config>