<?xml version="1.0"?>
<!--
*   Auditoria Module Dependency
*
*   @category   Auditoria
*   @package    Auditoria
*   @author     Intcomex
*   @copyright  Intcomex (https://www.intcomex.com/)
*
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Intcomex_Auditoria" setup_version="1.0.0"> 
    </module>
</config>
