<!--
/**
 * Intcomex_GridImages
 *
 * @category    Grid Images
 * @package     Intcomex_GridImages
 * @author      Johan Martinez
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Intcomex_GridImages" setup_version="1.0.0">
		<sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogSearch"/>
        </sequence>
    </module>
</config>
