<!--@subject Productos sin iws data  @-->
<!-- you can Modify content of template according to your requirement-->
<div>
    
    <p>{{var text|raw}}</p>
    
    <table align="center" >
        <thead>
            <tr>
                <th style="border:1px solid" >Store</th>                
                <th style="border:1px solid" >Sku</th>
                <th style="border:1px solid" >Status Anterior</th>                
                <th style="border:1px solid" >Status Ahora</th>                
            </tr>
        </thead>
        <tbody>
            {{var productos|raw}}
        </tbody>
    </table>
</div>