<?xml version="1.0"?>
<!--
/**
 * Pasarela_Bancomer default payment configuration
 *
 * @category    Bancomer
 * @package     Pasarela_Bancomer
 * @author      Valentina Aguirre
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pasarela_bancomer>
                <title>Multipagos Avanzados</title>
                <model>Pasarela\Bancomer\Model\Bancomer</model>
                <active>1</active>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action> 
                <url_sandbox_bancomer>https://sand-api.ecommercebbva.com/v1/</url_sandbox_bancomer>
                <url_produccion_bancomer>https://api.ecommercebbva.com/v1/</url_produccion_bancomer>
                <is_sandbox>1</is_sandbox>
                <sandbox_mp_account></sandbox_mp_account>
                <sandbox_mp_node></sandbox_mp_node>
                <sandbox_mp_concept></sandbox_mp_concept>
                <sandbox_private_key></sandbox_private_key>
                <live_mp_account></live_mp_account>
                <live_mp_node></live_mp_node>
                <live_mp_concept></live_mp_concept>
                <live_private_key></live_private_key>
            </pasarela_bancomer>
        </payment>
    </default>
</config>

