<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pasarela_bancomer>
                <apikey></apikey>
                <accesskey></accesskey>
                <apuntar_a>0</apuntar_a>
                <url_desarrollo>https://intcomex-test.apigee.net/v1/</url_desarrollo>
                <url_produccion>https://intcomex-prod.apigee.net/v1/</url_produccion>
            </pasarela_bancomer>
        </payment>
    </default>
</config>