<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <trax_general>
            <catalogo_retailer>
                <apikey></apikey>
                <accesskey></accesskey>
                <apuntar_a>0</apuntar_a>
                <url_desarrollo>https://intcomex-test.apigee.net/v1/</url_desarrollo>
                <url_produccion>https://intcomex-prod.apigee.net/v1/</url_produccion>
            </catalogo_retailer>
            <catalogo_general>
                <datos_iws>1</datos_iws>
                <datos_sales_iws>1</datos_sales_iws>
                <datos_images_iws>1</datos_images_iws>
                <categorias_iws>1</categorias_iws>
                <productos_iws>1</productos_iws>
                <catalogo_reintentos>1</catalogo_reintentos>
                <catalogo_correo>example@example.com</catalogo_correo>
                <template_notification></template_notification>
            </catalogo_general>
        </trax_general>
    </default>
</config>