<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <trax_general>
            <catalogo_retailer>
                <customer_id></customer_id>
                <apikey></apikey>
                <accesskey></accesskey>
                <apuntar_a>0</apuntar_a>
                <url_desarrollo>https://intcomex-test.apigee.net/v1/</url_desarrollo>
                <url_produccion>https://intcomex-prod.apigee.net/v1/</url_produccion>
                <timeout>30</timeout>
                <errores>500,404</errores>
            </catalogo_retailer>
        </trax_general>
        <trax_catalogo>
            <catalogo_general>
                <attribute_id>4</attribute_id>
                <tax_id>0</tax_id>
                <datos_iws>1</datos_iws>
                <datos_sales_iws>1</datos_sales_iws>
                <datos_images_iws>1</datos_images_iws>
                <categorias_iws>1</categorias_iws>
                <productos_iws>1</productos_iws>
                <catalogo_reintentos>1</catalogo_reintentos>
                <catalogo_correo>example@example.com</catalogo_correo>
                <text_email_product_iws>Este es listado de los productos que no llegan del cron getCatalog</text_email_product_iws>
            </catalogo_general>
            <catalogo_iws>
                <product_name>1</product_name>
                <product_description>1</product_description>
                <product_weight>1</product_weight>
                <product_length>1</product_length>
                <product_width>1</product_width>
                <product_height>1</product_height>
                <product_price>1</product_price>
                <product_stock>1</product_stock>
                <product_mpn>1</product_mpn>
            </catalogo_iws>
        </trax_catalogo>
    </default>
</config>