
4
5
6
7
8
9
10
11
<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalogo>
            <general>
                <enable>1</enable>
                <title>Module Title</title>
            </general>
        </catalogo>
    </default>
</config>