<?xml version="1.0"?>
<!--
/** Conciliacion adminhtml routes xml
 * @category  Pasarela
 * @package   Pasarela_Conciliacion
 * @author    Valentina Aguirre
 * @copyright Copyright (c) 2010-2016 Pasarela Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="pasarela_conciliacion" frontName="pasarela_conciliacion">
            <module name="Pasarela_Conciliacion" />
        </route>
    </router>
</config>
