.account{
  .page-title-wrapper{
    margin: 40px 0 60px;
  }
  .column.main{
    .block:not(.widget){
      text-align: left;
      padding: 40px;
      border: 1px solid #e8e8e8;
      .block-title{
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 12px;
        > strong{
          font-weight: 400;
        }
      }
      .block-content{
        .box-title{
          color: $redcolor;
        }
      }
      .action{
        text-decoration: underline;
        margin-right: 20px;
      }
    }
    .form {
      padding: 40px;
      border: 1px solid #e8e8e8;
      .fieldset{
        >.field{
          margin: 0 0 29px;
          &:not(.choice){
            >.label{
              max-width: 100%;
              padding: 0;
            }
            .control{
              @media only screen and (min-width: $tablet){
                width: 74.2%;
                max-width: inherit;
              }
            }
          }
        }
        >.legend{
          width: 100%;
          border-bottom: 1px solid #e8e8e8;
          padding-bottom: 12px;
          float: none;
        }
      }
    }
  }
}
.account-nav{
  text-align: left;
  .item{
    a{
      color: #000;
      &:hover{
        color: $redcolor;
      }
    }
  }
}
.sidebar.sidebar-additional{
  text-align: left;
  .block-title strong{
    font-weight: 400;
  }
  .actions-toolbar{
    text-align: left;
  }
  .actions-toolbar{
    margin: 0;
    width: 100%;
    max-width: 100%;
    > div{
      text-align: left;
      float: left;
    }
  }
}
