.checkout-container{
  margin: 40px 0 20px;
  .opc-progress-bar-item{
    &._active{
      &:before{
        background: $redcolor;
      }
      >span:before{
        background: $redcolor;
      }
    }
    >span:after {
      line-height: 28px;
    }
  }
  .opc-wrapper {
    @media (max-width: $tablet){
      padding: 0 15px;
    }
    .shipping-address-item.selected-item{
      border-color: $redcolor;
      &:after{
        background: $redcolor;
      }
    }
    .col.col-method{
      text-align: center;
    }
    .table-checkout-shipping-method{
      .col{
        text-align: left;
        &:first-child {
          text-align: center;
        }
      }
    }
    input[type=checkbox], input[type=radio]{
      display: inline-block;
      margin: 0;
    }
    .actions-toolbar{
      .primary{
        @media (min-width: $tablet){
          float: left;
          margin: 0 0 10px;
        }
      }
    }
  }
}