.checkout-container{
  margin: 40px 0 20px;
  .opc-progress-bar-item{
    &._active{
      &:before{
        background: $redcolor;
      }
      >span:before{
        background: $redcolor;
      }
    }
    >span:after {
      line-height: 28px;
    }
  }
  .opc-wrapper {
    .shipping-address-item.selected-item{
      border-color: $redcolor;
      &:after{
        background: $redcolor;
      }
    }
  }
}