header{
  .container{
    @media only screen and (max-width: $tablet){
      padding: 0;
    }
  }
  &.page-header{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 0;
    position: relative;
    border: 0;
    @media only screen and (min-width: 769px){
      padding: 30px 30px 0;
    }
    .header.content{
      padding: 0;
    }
    .nav-sections{
      left: 0;
      width: 100%;
      height: auto;
      position: relative;
      box-shadow: none;
      background: #EDEDED;
      margin: 0;
      display: none;
      @media only screen and (max-width: $tablet){
        padding: 5px 0;
        .nav-sections-item-title, .nav-sections-item-title.active{
          display: none;
        }
        .nav-sections-item-content{
          margin: 0;
          padding: 0;
        }
      }
      @media only screen and (min-width: 769px){
        width: auto;
        display: block;
        background: none;
      }
    }
    .header-toplinks{
      display: none;
      text-align: center;
      &.skip-active{
        @media only screen and (min-width: $tablet){
          display: block;
          position: absolute;
          z-index: 200;
          top: 40px;
          right: 55px;
          width: 200px;
          padding: 5px 0;
          background: white;
          border: solid 1px #B7B8B9;
        }
      }
      a{
        color: #000000;
        line-height: 23px;
        text-align: center;
        position: relative;
        padding: 5px 10px;
        display: block;
        &:hover{
          color: $redcolor;
        }
      }
    }
  }
  .header-wrapper{
    position: relative;
    text-align: center;
  }
  .logo {
    display: block;
    float: none;
    width: 65%;
    min-width: 100px;
    min-height: 44px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    opacity: 1;
    @media only screen and (min-width: 769px){
      max-width: 150px;
      padding: 0;
      background: url(../img/JAM_logo-blue.svg) no-repeat top;
    }
    @media only screen and (min-width: 980px){
      max-width: 160px;
    }
    img{
      width: 100px;
      max-width: 100%;
      transition: all .5s ease;
      margin: 0 auto;
      @media only screen and (min-width: 769px){
        width: auto;
      }
      &:hover {
        opacity: 0;
      }
      &.large{
        display: none;
        @media only screen and (min-width: 769px){
          display: inline-block;
        }
      }
      &.small {
        display: block;
        margin: 0 auto;
        @media only screen and (min-width: 769px){
          display: none;
        }
      }
    }
  }
  .nav-toggle{
    top: 0;
    left: 0;
    width: 20%;
    display: block!important;
    @media only screen and (min-width: 769px){
      display: none !important;
    }
  }
  nav.navigation {
    margin: 0;
    background: none;
    ul{
      display: block;
      margin: 0;
      text-align: left;
      @media only screen and (min-width: 769px){
        padding: 10px 0;
        margin: 15px 0;
        text-align: center;
      }
      li{
        position: relative;
        padding: 0 2em;
        margin: 0;
        &:hover{
          @media only screen and (min-width: 769px){
            &.level0.active a.level-top, &.level0.has-active a.level-top, > a, a.level-top{
              color: #E73C3E;
              transition: all .45s ease;
            }
          }
        }
        &.level0 {
          @media only screen and (max-width: $tablet){
            border: 0;
            &:last-child{
              border: 0;
              > a.level-top{
                border-bottom: 0;
              }
            }
            &.parent{
              a.level-top{
                &:after{
                  content: '';
                  position: absolute;
                  width: 0;
                  height: 0;
                  display: block;
                  border-top: 5px solid transparent;
                  border-bottom: 5px solid transparent;
                  border-left: 5px solid #ccc;
                  border-right: none;
                  top: 50%;
                  left: 10px;
                  right: auto;
                  margin-top: -5px;
                }
                &.ui-state-active:after{
                  margin-top: -2px;
                  border-right: 5px solid transparent;
                  border-left: 5px solid transparent;
                  border-top: 5px solid #ccc;
                  border-bottom: none;
                }
              }
            }
            ul.submenu{
              border: 0;
              a{
                font-size: 14px;
                line-height: 35px;
                padding: 0 15px 0 25px;
                border-bottom: 1px solid #CCCCCC;
              }
            }
            li{
              padding: 0 0 0 25px;
            }
            a.level-top{
              &.ui-state-active{
                color: #E73C3E;
              }
            }
          }
          &.active, &.has-active{
            > a.level-top {
              border: 0;
            }
          }
          > a.level-top {
            text-transform: capitalize;
            font-weight: 700;
            font-size: 18px;
            line-height: 35px;
            padding: 0 15px 0 25px;
            border-bottom: 1px solid #CCCCCC;
            text-align: left;
            @media only screen and (min-width: 768px){
              color: #000;
              padding: 0;
              line-height: 30px;
              text-align: inherit;
              border: 0;
            }
            .ui-menu-icon{
              &:after{
                display: none!important;
              }
            }
          }
          ul{
            @media only screen and (min-width: 769px){
              background: #fbfbfb;
              border: solid 1px #ccc;
              position: absolute;
              left: 0;
              top: 30px;
              z-index: 10;
              width: 250px;
              padding-left: 10px;
              padding-right: 10px;
              display: none!important;
            }
          }
        }
        &:last-child{
          > a{
            border-bottom: none;
          }
        }
      }
      li, a {
        &.level0 {
          @media only screen and (min-width: 769px){
            display: inline-block;
            margin: 0;
          }
        }
      }
      a{
        text-decoration: none;
        position: relative;
        display: block;
        color: #000000;
        line-height: 30px;
      }
    }
  }
  .account-cart-wrapper{
    position: absolute;
    top: 30px;
    right: 0px;
  }
  .minicart-wrapper{
    line-height: 40px;
    @media only screen and (min-width: $tablet){
      margin: 0;
    }
    .action.showcart{
      &:before{
        content:'';
        width: 30px;
        height: 42px;
        vertical-align: middle;
        background: url(../images/icon_sprite.png) no-repeat;
        background-position: 0 -90px;
        text-indent: -9999px;
      }
      &.active{
        &:before{
          vertical-align: middle;
        }
      }
      .counter.qty{
        top: -6px;
        background: none;
        @media only screen and (min-width: $tablet){
          width: auto;
          color: $redcolor;
          border-radius: 0px;
          position: static;
          background: none;
          margin-left: 0px;
          font-size: 14px;
          &:before{
            content: '(';
          }
          &:after{
            content: ')';
          }
        }
      }
    }
    .block-minicart{
      z-index: 999;
    }
  }
  .skip-link {
    position: relative;
    float: left;
    width: 20%;
    height: 44px;
    background: #FFFFFF;
    color: #000000;
    line-height: 42px;
    text-align: center;
    .icon{
      display: inline-block;
      width: 30px;
      height: 30px;
      vertical-align: middle;
      @media only screen and (min-width: $mobile){
        margin-right: 3px;
      }
    }
    .label{
      display: none;
    }
  }
  .account-header-wrapper{
    display: inline-block;
  }
  .skip-account{
    @media only screen and (min-width: $tablet){
      float: none;
      width: auto;
      vertical-align: top;
      display: inline-block;
      padding: 0 10px;
      text-transform: uppercase;
    }
    .icon{
      background: url(../images/icon_sprite.png) no-repeat;
      background-position: 4px -44px;
      background-size: 100px 1000px;
    }
  }
}
