.page-wrapper {
  .page-main{
    padding: 0 30px;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    @media only screen and (max-width: 599px){
      padding: 0 15px;
    }
    > .columns{
      float: left;
      width: 100%;
    }
  }
}
.banner{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0;
  float: left;
  display: block;
  clear: both;
  &.frame{
    padding: 60px;
    @media only screen and (max-width: 599px){
      padding: 60px 40px;
    }
  }
  .text-block-banner {
    position: relative;
  }
  .text-overlay-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
    text-align: center;
    @media only screen and (max-width: 599px){
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      position: relative;
      transform: translateY(0) translateX(0);
      padding: 60px 0;
    }
    &.banner-text-right {
      width: 50%;
      right: 0;
      transform: translateY(-50%) translateX(0%);
      @media only screen and (max-width: 599px){
        width: 100%;
        transform: translateY(0) translateX(0);
      }
    }
    &.banner-text-left {
      width: 50%;
      left: 0;
      transform: translateY(-50%) translateX(0%);
      @media only screen and (max-width: 599px){
        width: 100%;
        transform: translateY(0) translateX(0);
      }
    }
    h1, h1 span{
      font-family: 'Frankfurter W05 Regular';
      font-weight: normal;
      font-size: 72px;
      line-height: .9em;
      margin-bottom: .1em;
      word-break: break-word;
      @media only screen and (max-width: $tablet){
        font-size: 40px;
      }
    }
    p{
      font-size: 16px;
      padding: 0 2em;
      font-weight: normal;
      line-height: 1.5em;
      @media only screen and (max-width: $tablet){
        font-size: 14px;
      }
    }
  }
  &.main-banner{
    .text-overlay-banner {
      h1, h1 span, h2, h2 span{
        font-size: 6vw;
      }
      p{
        font-size: 1.5vw;
      }
    }
  }
}
.category-products {
  padding: 2em 0;
  clear: both;
}
.category-callout{
  img{
    margin: 0 auto;
    padding: 15px 0;
    width: auto;
    max-width: 100%;
  }
  h2{
    font-weight: 700;
    padding-top: 1em;
  }
  .cat-product-links {
    li {
      font-weight: 400;
      font-size: 1.2em;
      display: inline;
      &:after{
        content: "/";
        padding: 0 1em;
      }
      &:last-child:after {
        content: "";
        padding: 0;
      }
      a{
        color: #00B5E2;
      }
    }
  }
}
.category-features {
  padding: 0 0 5em;
}
.feature-callout {
  height: 400px;
  padding: 3em 2em;
  text-align: center;
  img{
    width: 100%;
    max-width: 180px;
    margin: 0 auto;
    padding: 15px 0;
  }
  .callout-text {
    padding: 0 0 2em;
    max-width: 250px;
    margin: 0 auto;
    b{
      font-size: 1.2em;
    }
    p{
      font-size: 1em;
      font-weight: 300;
    }
  }
}
.banner-fullwidth{
  padding: 0;
  max-height: 620px;
  height: 240px;
  float: left;
  @media only screen and (min-width: 769px){
    height: 400px;
  }
  @media only screen and (min-width: 1280px){
    height: 620px;
  }
  .text-block-banner{
    width: 50%;
    position: relative;
    padding-top: 50%;
    text-align: center;
    float: right;
    .text-overlay-banner{
      width: 80%;
      left: 10%;
      h1{
        font-size: 7vw;
      }
      p{
        font-size: 1.5vw;
        font-weight: normal;
        line-height: 1.5em;
        @media only screen and (max-width: $tablet){
          font-size: 12px;
        }
      }
    }
  }
}
.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button{
  background: #E73C3E;
  display: inline-block;
  padding: 7px 15px;
  border: 0;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  &:hover{
    color: #fff;
    background: #e42528;
    cursor: pointer;
    border: 0;
  }
}
.page-title, .product-name h1, .product-name .h1{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 3px;
  text-transform: capitalize;
}
.available {
  margin-bottom: 0;
  font-size: 13px;
  text-transform: uppercase;
  &.stock{
    color: #11B400;
  }
  &.out-of-stock {
    color: #DF280A;
  }
}
.gallery-placeholder .loader img{
  width: auto;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe{
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    position: absolute;
  }
}
.feature-icons {
  clear: both;
  @media only screen and (max-width: 599px){
    text-align: center;
  }
  li{
    display: inline;
    float: left;
    width: 20%;
    text-align: center;
    margin: 30px 0;
    padding: 15px;
    line-height: 1.2em;
    min-height: 235px;
    font-weight: 100;
    @media only screen and (max-width: 599px){
      width: 49%;
      display: inline-block;
      margin: 0;
      float: none;
    }
  }
  .callout-text{
    font-weight: 400;
  }
}
.product-box .box-list {
  ul{
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 30px;
    li{
      display: inline;
      font-weight: 300;
      font-size: .9em;
      &:after{
        content: "|";
        padding: 0 .5em;
      }
      &:last-child:after {
        content: "";
        padding: 0;
      }
    }
  }
}
body.cms-page-view .page-wrapper .column.main {
  width: 100%;
  @media only screen and (max-width: $tablet){
    width: 75%;
  }
}
body.page-layout-2columns-left{
  .page-main{
    padding: 30px;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
  }
  .page-wrapper{
    .column.main{
      width: 75%;
      @media only screen and (max-width: $tablet){
        width: 100%;
      }
    }
    .sidebar.sidebar-main{
      width: 25%;
      @media only screen and (max-width: $tablet){
        width: 100%;
      }
    }
  }
  &.cms-support .page-main > .columns{
    width: 79.17%;
  }
  .std{
    li{
      color: #000000;
      font-size: 14px;
      font-style: italic;
      line-height: 24px;
    }
    p{
      color: #000;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .category-intro.helpSection{
    width: 100%;
    float: left;
  }
}
.cms-page-view .page-main{
  .sidebar-main{
    li{
      text-align: left;
    }
    a{
      color: #00B5E2;
      text-decoration: none;
      &:hover{
        color: #00a1c9;
        text-decoration: underline;
      }
    }
  }
  .column.main{
    text-align: left;
    h1{
      color: #333333;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
    }
    h2{
      color: #333333;
      font-weight: 500;
      padding-top: 1em;
    }
  }
}
.products-grid > li {
  width: 38.86%;
  position: relative;
  color: #000000;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  line-height: 24px;
  float: left;
  margin-right: 3.7%;
  margin-bottom: 20px;
  margin-left: 0;
  @media only screen and (min-width: 480px){
    .products-grid > li {
      width: 30.86%;
      margin-right: 3.7%;
    }
  }
}
.sectionVideo img {
  width: 100%;
}
.videoContain{
  float: left;
  width: 100%;
}
.press-article {
  border-bottom: 1px dashed #d7dade;
  margin-bottom: 20px;
}
#mageplaza-seo-html-sitemap{
  .row{
    margin: 0;
  }
}
.form{
  margin-bottom: 40px;
  &.contact{
    text-align: left;
  }
  .fieldset{
    > .legend{
      width: auto;
      display: block;
      margin-left: 0;
    }
    > .field{
      margin-bottom: 7px;
      padding-left: 40px;
      @media only screen and (max-width: 599px){
        padding-left: 0;
      }
      &:before{
        display: none;
      }
      &.no-label{
        padding: 0 0 1.5em;
      }
      &:not( .choice ){
        > .label{
          text-align: left;
          @media only screen and (min-width: $tablet){
            float: left;
            width: 100%;
            max-width: 135px;
            padding: 7px 8px 0 0;
            text-align: left;
          }
          span{
            color: #000;
            display: inline-block;
            font-size: 13px;
          }
        }
        .control{
          float: left;
          width: 100%;
          max-width: 349px;
          padding-top: 2px;
        }
      }
    }
  }
  .actions-toolbar{
    max-width: 485px;
    clear: both;
    margin: 10px 0 0;
    border-top: 1px solid #EDEDED;
    text-align: right;
    margin-left: 30px;
    padding-top: 5px;
    @media only screen and (min-width: $tablet){
      margin-left: 40px;
    }
    @media only screen and (max-width: 599px){
      margin-left: 0;
    }
    .primary{
      float: right;
      @media only screen and (max-width: 480px){
        width: 100%;
      }
      button{
        margin-left: 5px;
        min-width: 140px;
        border-radius: 25px;
        background: #E73C3E;
        display: inline-block;
        padding: 7px 15px;
        border: 0;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: normal;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        white-space: nowrap;
        @media only screen and (max-width: 480px){
          width: 100%;
        }
        &:hover{
          background: #000;
        }
      }
    }
  }
}
.form-note p {
  line-height: 1.5em;
  font-size: .9em;
}
body .column:not( .sidebar-main ) form .actions-toolbar{
  margin-left: 40px;
  @media only screen and (max-width: 599px){
    margin-left: 0;
  }
}
.input-text.mage-error {
  border-color: #DF280A;
}
div.mage-error{
  margin: 5px 0 0;
  color: #DF280A;
  font-size: 13px;
}
