.login-container{
  text-align: left;
  .form {
    .fieldset{
      &:after{
        margin-top: 30px;
      }
      >.field{
        padding-left: 0;
        margin-bottom: 30px;
        @media only screen and (max-width: 768px){
          width: 100%;
          float: left;
        }
        &:not(.choice){
          >.label{
            max-width: 100%;
            @media only screen and (max-width: 768px){
              width: 100%;
              float: left;
            }
          }
          .control{
            max-width: 80%;
            @media only screen and (max-width: 768px){
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
    .actions-toolbar{
      width: 100%;
      max-width: 100%;
      margin-left: 0!important;
      .primary{
        float: left;
      }
    }
  }
}
.column.main .block.block-new-customer {
  margin-bottom: 40px;
}