.message{
  &.info{
    color: #008FBE;
    margin: 20px 0;
    background: none;
    padding: 15px 20px;
    border: 2px solid #008FBE;
    >*:first-child:before{
      top: 27px;
      color: #008FBE;
      font-size: 40px;
    }
  }
}
