.sticky-product-nav{
  position: sticky;
  top: 0;
  z-index: 150;
  opacity: .95;
  .fullwidth{
    background: #eee;
    padding: 30px 0;
  }
  .sticky-name, .sticky-price, .sticky-addto {
    color: #000;
    font-size: 1.75em;
    display: inline;
    line-height: normal;
  }
  .sticky-name{
    float: left;
    span {
      display: none;
    }
  }
  .price-box {
    margin: 0;
    display: inline;
    padding-right: 10px;
    .price {
      color: #333333;
      font-size: 1em;
    }
  }
  .sticky-price-box {
    text-align: right;
    button{
      font-size: 1.5em;
      font-weight: 100;
      border-radius: 15px;
    }
  }
  .sticky-addto{
    a{
      color: #fff;
      font-weight: 300;
      &:hover, &:active{
        text-decoration: none;
      }
    }
  }
}
ul.sticky-sections {
  font-size: 16px;
  display: inline-block;
  margin: 0;
  li{
    display: inline;
    padding-right: 2em;
  }
}
.product-essential{
  margin: 30px 0;
  padding: 0 15px;
}
.catalog-product-view .product-info_main, .product-info_media, .product-collateral, .catalog-product-view .block-related, .box-collateral{
  margin-bottom: 10px;
}
.catalog-product-view {
  .product-info_main {
    text-align: left;
    .product-name {
      display: none;
      @media only screen and (min-width: 771px){
        display: block;
      }
      .h1{
        font-family: 'Frankfurter W05 Regular';
        font-weight: normal;
        font-size: 52px;
        margin-bottom: 5px;
        span{
          font-family: 'Roboto';
          font-weight: 500;
        }
      }
    }
    .sku {
      padding: 1em 0;
      color: #c3c5c4;
    }
    .product-info-price{
      font-size: 16px;
      margin-bottom: 10px;
    }
    .product.description {
      margin-bottom: 10px;
      clear: both;
      @media only screen and (min-width: 600px){
        display: block;
      }
    }
    .product-options-wrapper{
      width: 100%;
      margin: 0;
      padding: 15px 0;
      clear: both;
      position: relative;
      .swatch-opt{
        margin: 0;
      }
      .swatch-attribute-label{
        font-size: 12px;
        line-height: 1.3;
        float: none;
        display: block;
        clear: both;
        border: 0;
        margin-bottom: 3px;
      }
      .swatch-attribute-selected-option{
        display: none;
      }
      .swatch-attribute-options{
        margin: 0;
        padding-bottom: 5px;
        .swatch-option{
          &.image, &.color{
            position: relative;
            width: 52px!important;
            height: 52px!important;
            border-radius: 50%;
            border: 4px solid white;
            margin: 0 5px 3px;
            padding: 0;
            background-size: cover!important;
            overflow: visible;
            &:first-child{
              margin-left: 0;
            }
            &:not(.disabled):hover{
              outline: none;
              &:after{
                display: block;
              }
            }
            &:after{
              content: '';
              width: 60px;
              height: 60px;
              display: none;
              position: absolute;
              top: -8px;
              left: -8px;
              border-radius: 50%;
              border: 4px solid #f0efed;
            }
          }
        }
      }
    }
    .product-options-bottom{
      .box-tocart{
        margin: 0;
        .field{
          display: block;
          padding: 0;
          margin: 0;
          &.qty{
            @media only screen and (min-width: 768px){
              display: block;
            }
            .label, .control{
              display: inline-block;
            }
            .control{
              input{
                width: 3em;
                height: 30px;
                text-align: center;
                vertical-align: middle;
              }
            }
          }
          .label{
            font-size: 12px;
            line-height: 1.3;
            float: none;
            display: block;
            clear: both;
            border: 0;
            margin-bottom: 3px;
            color: #000;
          }
        }
        .actions{
          float: left;
          margin-right: 10px;
          max-width: 100%;
          padding: 15px 0;
          button{
            margin-bottom: 10px;
            background: #E73C3E;
            display: inline-block;
            border: 0;
            color: #FFFFFF;
            font-weight: normal;
            font-family: "Roboto", "Helvetica Neue", Verdana, Arial, sans-serif;
            text-align: center;
            text-transform: uppercase;
            vertical-align: middle;
            white-space: nowrap;
            min-height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0px 30px;
            float: left;
            min-width: 160px;
            width: 100%;
            white-space: normal;
            border-radius: 20px;
            &:hover{
              background: #e42528;
            }
          }
        }
      }
    }
  }
  .product-info_main, .product-info_media{
    .product-name {
      .h1{
        color: #000000;
        border: 0;
        span{
          display: block;
          font-size: .4em;
          p{
            margin: 0;
          }
        }
      }
    }
  }
}
