.sticky-product-nav{
  position: sticky;
  top: 0;
  z-index: 150;
  opacity: 0.95;
  .fullwidth{
    background: #eee;
    padding: 30px 0;
  }
  .sticky-name, .sticky-price, .sticky-addto {
    color: #000;
    font-size: 1.75em;
    display: inline;
    line-height: normal;
  }
  .sticky-name{
    float: left;
    span {
      display: none;
    }
  }
  .price-box {
    margin: 0;
    display: inline;
    padding-right: 10px;
    .price {
      color: #333333;
      font-size: 1.0em;
    }
  }
}
ul.sticky-sections {
  font-size: 16px;
  display: inline-block;
  margin: 0;
  li{
    display: inline;
    padding-right: 2em;
  }
}
.product-essential{
  margin: 30px 0;
}
.sticky-product-nav {
  .sticky-price-box {
    text-align: right;
    button{
      font-size: 1.5em;
      font-weight: 100;
      border-radius: 15px;
    }
  }
  .sticky-addto{
    a{
      color: #fff;
      font-weight: 300;
      &:hover{
        text-decoration: none;
      }
    }
  }
}