.block.review-add{
  width: 100%;
  padding: 60px 0;
  float: left;
  .block-title {
    display: block;
    text-align: left;
  }
  form.review-form{
    width: 100%;
    .action{
    	&.primary{
    		color: #00aeef;
    		font-family: 'Graphik-Regular', 'Helvetica', sans-serif !important;
			padding: 10px 0 !important;
			background: transparent;
			border: 2px solid #00aeef;
			display: inline-block;
			font-size: 16px !important;
			text-transform: uppercase;
			text-align: center !important;
			margin: 0 auto 0 0 !important;
			width: 200px;
			&:focus, &:hover, &:active {
				background: #00aeef;
				color: #fff;
			}
    	}
    }
  }
}