.cart-container{
  form{
    &.form-cart{
      table{
        thead{
          th{
            color: #999;
            font-weight: 400;
            border: 0;
          }
        }
        tbody{
          tr{
            td{
              border: 0;
              &.item{
                .product-item-details{
                  text-align: left;
                }
                .product-item-name{
                  font-weight: bold;
                  font-size: 16px;
                  display: block;
                  margin-top: 0;
                }
                .product-item-stock{
                  color: #4fb62f;
                  display: block;
                  text-align: left;
                }
                .product-item-outstock{
                  color: $redcolor;
                  display: block;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}