$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1440px !default;
$mainColor: #000000;
$footerBgColor:#000000;
$colorFooter:#ffffff;
$colorText:#000000;
$colorTitleHead:#000000;
$colorTitle: #000000;
$colorHover: #444444;
$colorSecond:#000000;
$colorThird: #62B230;
$colorBottom: #000000;
$fontText:'ProximaNova-Regular';
$fontTextTitle:'ProximaNova-Bold';