<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="trax" translate="label" sortOrder="1">
            <label>IWS</label>
        </tab>
        <section id="trax_general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuración</label>
            <tab>trax</tab>
            <resource>Magento_Trax::config_catalogo</resource>
            <group id="catalogo_retailer" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración General</label>
                <field id="customer_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Id</label>
                    <comment>El Customer Id proporcionada por Intcomex para la cuenta del cliente.</comment>
                </field>
                <field id="apikey" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Key</label>
                    <comment>La llave API proporcionada por Intcomex para la cuenta del cliente.</comment>
                </field>
                <field id="accesskey" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Key</label>
                    <comment>La firma necesaria para autenticar al usuario que realiza la solicitud.</comment>
                </field>
                <field id="apuntar_a" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apuntar a</label>
                    <source_model>Trax\Catalogo\Model\Config\Source\Entornos</source_model>
                </field>
                <field id="url_desarrollo" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Url Desarrollo</label>
                    <comment>Url servicio en desarrollo.</comment>
                </field>
                <field id="url_produccion" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Url Producción</label>
                    <comment>Url servicio en producción.</comment>
                </field>
                <field id="timeout" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tiempo entre reintentos</label>
                    <comment>Tiempo en segundos entre reintentos de conexión a los servicios de TRAX. Esta configuración aplica para todos los servicios de TRAX</comment>
                </field>
                <field id="errores" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Errores para reintentos</label>
                    <comment>Listado de errores separados por "," para realziar reintentos de conexión con TRAX</comment>
                </field>
            </group>
        </section>
        <section id="trax_catalogo" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Catalogo</label>
            <tab>trax</tab>
            <resource>Magento_Trax::config_catalogo</resource>
            <group id="catalogo_general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración IWS en Catálogo</label>
                <field id="attribute_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Set de atributos</label>
                    <comment>Id Set de atributos.</comment>
                </field>
                <field id="tax_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clase de impuesto</label>
                    <comment>Id clase de impuestos.</comment>
                </field>
                <field id="catalogo_reintentos" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reintentos de conexión</label>
                    <comment>Número de reintentos de conexión en servicio.</comment>
                </field>
                <field id="catalogo_correo" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Correo Electrónico</label>
                    <comment>Correo electrónico de notificación cuando no se tiene conexión con los servicios.</comment>
                </field>
                <field id="datos_iws" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aceptar datos generales de IWS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Indica si se aceptan los datos generales de los productos retornados por IWS.</comment>
                </field>
                <field id="datos_sales_iws" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aceptar datos de precio e inventario de IWS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Indica si se aceptan los datos de precio e inventario de los productos retornados por IWS.</comment>
                </field>
                <field id="datos_images_iws" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aceptar datos de imágenes de IWS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Indica si se aceptan las imagenes de los productos retornados por IWS.</comment>
                </field>
                <field id="categorias_iws" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Consultar en categorías</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Indica si se consulta IWS cada que se navegue a una categoría.</comment>
                </field>
                <field id="productos_iws" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Consultar en detalle de productos</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Indica si se consulta IWS cada que se entre al detalle de un producto.</comment>
                </field>

                <field id="text_email_product_iws" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Texto email</label>
                    <comment>Se agrega el texto que sera agregado antes del listado de los productos.</comment>
                </field>
            </group>
            <group id="catalogo_iws" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Datos IWS</label>
                <field id="product_name" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Nombre del producto</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Determina si acepta el nombre del producto desde IWS</comment>
                </field>
                <field id="product_description" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Descripción del producto</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Determina si acepta la descripción del producto desde IWS</comment>
                </field>
                <field id="product_weight" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Peso del producto</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Determina si acepta el peso del producto desde IWS</comment>
                </field>
                <field id="product_length" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Longitud del producto</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Determina si acepta la longitud del producto desde IWS</comment>
                </field>
                <field id="product_width" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Anchura del producto</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Determina si acepta la anchura del producto desde IWS</comment>
                </field>
                <field id="product_height" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Altura del producto</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Determina si acepta la altura del producto desde IWS</comment>
                </field>
                <field id="product_price" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Precio del producto</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Determina si acepta el precio del producto desde IWS</comment>
                </field>
                <field id="product_stock" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Inventario del producto</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Determina si acepta el inventario del producto desde IWS</comment>
                </field>
                <field id="product_mpn" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mpn</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Determina si acepta el MPN del producto desde IWS</comment>
                </field>
            </group>
        </section>
    </system>
</config>