<?xml version="1.0"?>
<!--
*   CustomLog Module Dependency
*
*   @category   CustomLog
*   @package    CustomLog
*   @author     Intcomex
*   @copyright  Intcomex (https://www.intcomex.com/)
*
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Intcomex_CustomLog" setup_version="1.0.3">
    </module>
</config>
