.catalog-category-view{
  .category-list{
    .category-image{
      position: relative;
      .category-data{
        top: 50%;
        left: 10%;
        width: 80%;
        color: #fff;
        position: absolute;
        transform: translate(0, -50%);
        a{
          color: #fff;
        }
      }
    }
  }
}