header{
  &.page-header{
    top: 0;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 8px rgba(black, .1);
    transition: .5s al ease;
    position: sticky;
    z-index: 99;
    .header-freeshipping{
      background: #000;
      padding: 5px 15px;
      p{
        color: #fff;
        margin: 0;
        a{
          color: #fff;
          margin-left: 40px;
          text-decoration: underline;
          &:after{
            content: '>';
          }
        }
      }
    }
    .panel.wrapper{
      display: none;
    }
    .header-wrapper{
      padding: 15px 0;
      position: relative;
      .header-branding, .header-wrapper-nav{
        vertical-align: middle;
        display: inline-block;
        float: none;
      }
      .header-branding{
        .logo{
          width: 100%;
          max-width: 100%;
          margin: 0;
          float: left;
          img{
            width: auto;
            max-width: 100%;
            height: 60px;
          }
        }
      }
      .header-wrapper-nav{
        line-height: normal;
        @media only screen and (max-width: $desktop){
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
        }
        .header-toplinks{
          width: auto;
          border: 0;
          margin-bottom: 9px;
          box-shadow: none;
          text-align: right;
          float: right;
          @media only screen and (max-width: $desktop){
            right: 15px;
          }
          .switcher-language{
            float: left;
            line-height: 22px;
            @media only screen and (max-width: $desktop){
              font-size: 16px;
            }
            .switcher-dropdown{
              left: 50%;
              width: 100px;
              min-width: 100px;
              text-align: center;
              margin-left: -50px;
              &:before{
                margin-left: -6px;
              }
              &:after{
                margin-left: -7px;
              }
              &:before, &:after{
                left: 50%;
              }
              li a{
                text-decoration: none;
              }
            }
          }
          .custom-top-links{
            padding: 0 15px;
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            font-size: 14px;
            float: left;
            a{
              color: #111;
              line-height: 22px;
              float: left;
              @media only screen and (max-width: $desktop){
                font-size: 16px;
              }
              span{
                width: 20px;
                height: 20px;
                float: right;
                margin-left: 10px;
                @media only screen and (max-width: $desktop){
                  width: 22px;
                  height: 22px;
                }
                &.sign-in-icon{
                  background: url(../images/icons/sign-in.png) no-repeat center;
                  background-size: 100%;
                }
              }
            }
          }
          .minicart-wrapper{
            float: left;
            .action.showcart{
              width: 20px;
              height: 20px;
              background: url(../images/icons/minicart.png) no-repeat center;
              background-size: 100%;
              @media only screen and (max-width: $desktop){
                width: 22px;
                height: 22px;
              }
              &:before{
                display: none;
              }
              .counter.qty{
                right: -115%;
                position: absolute;
                top: -60%;
                background: $mainColor;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                font-size: 12px;
              }
            }
          }
        }
        .wrapper-nav{
          width: 100%;
          float: right;
          text-align: right;
          @media only screen and (max-width: $desktop){
            left: 15px;
          }
          .nav-sections{
            width: auto;
            background: none;
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            .nav-sections-items{
              @media only screen and (max-width: $desktop){
                display: none;
              }
            }
            .navigation{
              background: none;
              ul.ui-menu{
                padding: 0;
                text-align: left;
                .level0{
                  margin: 0;
                  &.active{
                    > .level-top{
                      color: $mainColor;
                    }
                  }
                  &.parent{
                    > .level-top{
                      padding-right: 28px;
                      >.ui-menu-icon{
                        &:after{
                          @media only screen and (min-width: $desktop){
                            color: #000;
                            font-size: 28px;
                            font-weight: bold;
                          }
                        }
                      }
                    }  
                  }
                  > .level-top{
                    color: #111;
                    font-size: 16px;
                    line-height: normal;
                    transition: .3s all ease;
                    border: 0;
                    &:hover{
                      color: $mainColor;
                    }
                  }
                }
                .submenu{
                  li{
                    a{
                      padding: 12px 20px;
                    }
                    &.parent{
                      > a >.ui-menu-icon{
                        top: 50%;
                        margin-top: -10px;
                        &:after{
                          color: #ccc;
                          font-size: 28px;
                          line-height: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .quick-access{
            vertical-align: middle;
            display: none;
            @media only screen and (max-width: $desktop){
              display: inline-block;
            }
            a{
              width: 30px;
              height: 30px;
              cursor: pointer;
              overflow: hidden;
              position: relative;
              transition: color 125ms ease-in 0s;
              display: inline-block;
              .cd-menu-icon{
                top: 50%;
                left: 17px;
                width: 100%;
                height: 3px;
                position: absolute;
                display: inline-block;
                background-color: #000;
                transition: background-color 0.3s;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                border-radius: 1px;
                &:after, &:before{
                  content: '';
                  right: 0;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  background-color: #000;
                  transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s;
                  border-radius: 1px;
                }
                &:before{
                  top: -9px;
                }
                &:after{
                  top: 9px;
                }
              }
            }
          }
          .icon-search{
            width: auto;
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
            .icon-search-button{
              width: 32px;
              height: 32px;
              background: url(../images/icons/search-white.png) no-repeat center;
              background-size: 18px;
              background-color: $mainColor;
              border-radius: 50%;
              cursor: pointer;
              float: left;
              &.close{
                background: url(../images/icons/close-white.png) no-repeat center;
                background-size: 18px;
                background-color: $mainColor;
                opacity: 1;
              }
            }
          }
        }
        .header-toplinks, .wrapper-nav{
          @media only screen and (max-width: $desktop){
            top: 50%;
            width: auto;
            max-width: 35%;
            position: absolute;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}
