#floatingComparisonBar {
    max-width: 100%;
    width: 100% !important;
    position: fixed;
    bottom: 0;
    z-index: 99;
    background: #F8F8F8;
    padding: 20px 0;

    @media only screen and (max-width: 1200px) and (min-width: 200px) {
        padding: 0px;
        z-index: 9999999;
        max-width: 100% !important;
    }

    #dots {
        display: none;

        @media only screen and (max-width: 991px) {
            display: block;
        }
    }

    .row {
        width: 1170px;
        margin: 0 auto;

        @media only screen and (max-width: 1200px) and (min-width: 200px) {
            width: auto;
        }

        .product-item {
            background: #fff;
            width: 100%;
            margin: 0 5px;
            border: 0.5px solid #dcdcdc;
            min-height: 212px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            @media only screen and (max-width: 991px) {
                margin: 0 2px;
            }

            &:nth-child(5) {
                background: transparent;
                border: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 50px 0;
                font-family: 'SamsungSharpSans-Medium';

                .compare-button {
                    font-size: 1.7rem;

                    @media only screen and (max-width: 991px) {
                        font-size: 0.7rem;
                    }
                }

                .remove-all {
                    margin-left: auto;
                    margin-top: -64px;
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                }
            }

            .action.delete {
                right: 0px;
                width: 30px;
                padding: 0;
                z-index: 99;
                position: absolute;
                top: 0;

                &:before {
                    content: "X";
                    font-size: 18px;
                    font-weight: 800;
                }

                span {
                    display: none;
                }
            }

            .product-item-name {
                padding: 0 10px;
                line-height: 16px;
                font-size: 12px;
                font-family: 'SamsungSharpSans-Medium';
            }

            .action.primary[disabled] {
                background: #8A8A8A;
            }
        }

        .action-close {
            border-radius: 100px;
            height: 30px;
            width: 30px;
            line-height: 0px;
            text-align: center;

            &:before {
                content: "x";
                font-size: 20px;
                font-weight: 900;
                text-align: center;
                margin-left: -5px;
            }

            span {
                display: none;
            }
        }

        .carr-two {
            display: flex;

            @media only screen and (max-width: 991px) {
                display: none;
            }
        }

        .product-image-container {
            width: 140px;

            @media only screen and (max-width: 600px) {
                width: 85px !important;
            }
        }
    }

    .dot {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: #c5c3c3;
        margin: 0 8px;
        cursor: pointer;
        display: inline-block;
    }

    .dot-selected {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: #1428A0;
        margin: 0 8px;
        cursor: pointer;
        display: inline-block;
    }
}

.catalog-product_compare-index {
    .page-wrapper {
        .page-main {
            padding: 0;
            max-width: 100%;
            width: 1170px;

            .dot {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: #c5c3c3;
                margin: 0 8px;
                cursor: pointer;
                display: inline-block;
            }
        
            .dot-selected {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: #1428A0;
                margin: 0 8px;
                cursor: pointer;
                display: inline-block;
            }

            .table-comparison {
                font-family: 'SamsungSharpSans-Medium';

                .cell {
                    width: auto;

                    &.remove {
                        border: 0 !important;
                    }

                    &.product.label {
                        border: 0 !important;
                    }

                    &.product.info {
                        background: transparent;
                    }
                }

                th {
                    display: block;

                    .attribute.label {
                        color: #000;
                        font-size: 14px;
                        text-align: left;

                        @media only screen and (max-width: $mobile) {
                            white-space: break-spaces;
                        }
                    }
                }

                tbody {
                    border: 0 !important;

                    &+tbody {
                        tr {
                            &:nth-child(odd) {
                                background: #F9F9F9;
                            }

                            &:last-child {
                                background: transparent;
                            }
                        }
                    }

                    tr {
                        td {
                            border-left: 1px solid #ACA9A9;
                        }
                    }
                }

                .product-item-actions {
                    display: block;

                    .product-item-name {
                        display: block;

                        a {
                            background: #000;
                            color: #fff;
                            padding: 10px 15px;
                            border-radius: 5px;
                            margin-top: 15px;
                            text-decoration: none;
                            font-size: 18px;

                            &:hover {
                                background: #1428a0;
                            }
                        }
                    }
                }

                .carousel1 {
                    display: revert;

                    @media only screen and (max-width: 991px) {
                        display: revert;
                    }
                }

                .carousel2 {
                    display: revert;

                    @media only screen and (max-width: 991px) {
                        display: none;
                    }
                }

                .carousel3 {
                    display: revert;

                    @media only screen and (max-width: 991px) {
                        display: none;
                    }
                }

                .carousel4 {
                    display: revert;

                    @media only screen and (max-width: 991px) {
                        display: none;
                    }
                }

                .carousel-visible {
                    display: revert;
                }
                
                .carousel-hidden {
                    display: none;
                } 

            }
        }
    }

    .items-carousel {
        display: none;

        @media only screen and (max-width: 991px) {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    .button-carousel {
        display: block;
        width: 30px;
        cursor: pointer;
        margin: 0 3px;
        background: #ffffff;
        height: 30px;
        border-radius: 50%;
    }

    .button-selected{
        background: #1428a0;
        p{
            color: aliceblue;
        }
    }
}

#mgp-compare-popup-wrapper{
    #floatingComparisonBar {
        position: relative;
        display: flex;
    }
}