<?xml version="1.0" ?>
<!--
/**
 * Trax_Places default payment configuration
 *
 * @category    Trax
 * @package     Trax_Places
 * @author      Valentina Aguirre
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="places" id="places">
            <module name="Trax_Places"/>
        </route>
    </router>
</config>