<?xml version="1.0"?>
<!--
/**
* Credomatic DI definitions
*
* @category    Credomatic
* @package     Credomatic
* @author      Intcomex
* @copyright   Intcomex (https://www.intcomex.com/)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Intcomex\CredomaticMasterCard\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="credomaticmastercard" xsi:type="const">Intcomex\CredomaticMasterCard\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="CredomaticMasterCard_config_provider" xsi:type="object">Intcomex\CredomaticMasterCard\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

</config>
