.category-products{
  .products-list{
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    padding: 0;
    .row.item{
      margin: 0;
      display: flex;
      border: 0 none;
      color: #373737;
      padding: 3% 20px 20px;
      background: #ffffff;
      background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
      .secContain {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;        
      }
      .productImageContain{
        padding: 0;
        margin: 0;
        .product-image-container{
          width: 100%!important;
        }
      }
      .product-shop{
        display: flex;
      }
      a.product-image {
        float: left;
        width: 100%;
        img{
          display: block;
          width: 100%;
          height: auto;
          max-width: 400px;
          margin: auto;
        }
      }
    }
    .f-fix{
      float: none;
      width: 75%;
      padding: 0;
      margin: auto;
      text-align: left;
    }
    .product-name{
      color: #393939;
      font-weight: normal;
      font-size: 28px;
      margin-bottom: 0;
      a{
        color: #333;
        text-decoration: none;
        text-transform: uppercase;
        &:hover{
          color: #00adef;
          text-decoration: none;
        }
      }
    }
    .desc {
      font-family: 'Graphik-Light', 'Helvetica', sans-serif;
      font-size: 18px;
      color: #373737;
      .SOLbtn{
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 0 0 0;
        display: block;
      }
    }
    .price-box {
      margin: 6% 0;
      font-family: 'Graphik-Light', 'Helvetica', sans-serif;
      font-size: 18px;
      color: #373737;
      .regular-price .price {
        font-weight: normal;
      }
    }
  }
}