.checkout-index-index{
  .page-wrapper .page-main .columns .column.main{
    max-width: 1300px;
    margin: 0 auto;
    @media (min-width: $tablet){
      width: 90%;
    }
  }
  .checkout-container{
    margin: 40px 0 20px;
  }
  .opc-progress-bar-item{
    >span{
      font-size: 1.3rem;
      &:after{
        font-size: 1.3rem;
      }
    }
    &._active{
      &:before{
        background: #000;
      }
      >span{
        &:before{
          background: #000;
        }
        &:after{
          font-size: 1.8rem;
        }
      }
    }
  }
  .opc-wrapper {
    .shipping-address-item.selected-item{
      border-color: #000;
      &:after{
        background: #000;
      }
    }
  }
  .opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary>.title, .checkout-agreements-items .checkout-agreements-item-title{
    font-size: 36px;
    font-family: "flamacondensed-bold",Oswald,sans-serif;
  }
  .opc-summary-wrapper{
    .modal-content{
      border-radius: 0;
      @media (min-width: $tablet){
        box-shadow: none;
      }
    }
  }
  .opc-block-summary{
    background: none;
    >.title{
      font-size: 1.3rem;  
    }
    .minicart-items{
      .product-item-inner{
        display: block;
        .product-item-name-block{
          width: 100%;
          display: block;
          padding: 0;
          .product-item-name{
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
      .details-qty{
        font-size: 14px;
        .label{
          color: #000;
          padding-left: 0;
        }
      }
    }
    .product-item{
      .price{
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
