.checkout-index-index{
  .page-wrapper .page-main .columns .column.main{
    max-width: 1300px;
    margin: 0 auto;
    @media (min-width: $tablet){
      width: 90%;
    }
  }
  .opc-progress-bar-item{
    >span{
      &:after{
        font-size: 1.3rem;
      }
    }
    &._active{
      &:before{
        background: #000;
      }
      >span{
        &:before{
          background: #000;
        }
        &:after{
          font-size: 1.8rem;
        }
      }
    }
  }
  .opc-wrapper {
    .shipping-address-item.selected-item{
      border-color: #000;
      &:after{
        background: #000;
      }
    }
  }
}
