footer{
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid #ededed;
  float: left;
  .footer-primary, .footer-bottom{
    padding: 40px 0;
  }
  .footer-primary{
    .row{
      text-align: left;
      > div{
        @media only screen and (max-width: 767px){
          float: left;
          width: 100%;
        }
        h3{
          margin: 0;
          font-size: 22px;
          text-transform: uppercase;
          @media only screen and (max-width: 767px){
            line-height: 50px;
            position: relative;
            &:before{
              top: 50%;
              right: 15px;
              content: "\e23c";
              position: absolute;
              margin-top: -25px;
              font-family: ThemeIcons;
              font-size: 12px;
            }
            &.open:before{
              content: "\e23d";
            }
          }
        }
        .nav-submenu{
          float: left;
          width: 100%;
          padding: 0;
          margin: 0;
          margin-top: 20px;
          @media only screen and (max-width: 767px){
            display: none;
            margin-top: 0;
            border-bottom: 1px solid #ededed;
            padding-bottom: 15px;
            margin-bottom: 15px;
          }
          li{
            margin: 0;
            text-transform: uppercase;
            font-family: 'flamacondensed-bold';
            a{
              color: #333;
              border-bottom: 0;
              font-size: 14px;
              font-weight: 500;
              line-height: 30px;
              text-transform: uppercase;
              padding-left: 0;
              @media only screen and (max-width: 767px){
                font-size: 18px;
                line-height: 40px;
              }
              &:hover{
                color: #1e75b4;
                text-decoration: none;
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    background-color: #f3f2ec;
    .footer-copyright{
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0;
      margin-left: 0;
      font-family: 'NexusTypewriterOT';
      text-align: center;
    }
  }
}
