.header-freeshipping{
  color: #fff;
  background: #000;
  div{
    margin: 0!important;
  }
  p{
    margin: 0;
  }
  [data-content-type='row'][data-appearance='contained'] [data-element='inner']{
  	padding: 10px;
  }
}