header{
  &.header-primary-container{
    padding: 0;
    background: white;
    @media only screen and (max-width: 959px){
      top: 0;
      left: 0;
      position: fixed;
      z-index: 99;
      width: 100%;
      box-shadow: 0 0 15px rgba(black,.2);
    }
    .wrapper-brand{
      display: inline-block;
      text-align: left;
      .logo{
        margin: 15px 0;
        max-width: 100%;
        line-height: 1em;
        text-decoration: none;
        display: inline-block;
        strong{
          position: absolute;
          top: -999em;
          left: -999em;
          width: 0;
          height: 0;
          font-size: 0;
          line-height: 0;
          text-indent: -999em;
          overflow: hidden;
        }
        a{
          display: block;
        }
        img{
          width: 240px;
          height: auto;
          vertical-align: inherit;
          max-width: 100%;
        }
      }
    }
    .row{
      position: relative;
    }
    .mobnav-trigger-wrapper{
      display: none;
      @media only screen and (max-width: 959px){
        right: 0;
        display: block;
        position: absolute;
        padding: 0 15px;
        .mobnav-trigger{
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: "flamacondensed-bold",Oswald,sans-serif;
          background-color: #f8f8f8;
          float: left;
          width: 100%;
          text-align: right;
          padding: 7px 15px;
          margin: 14px 0;
          .trigger-icon {
            display: block;
            float: left;
            width: 23px;
            padding: 10px 0;
            .line{
              display: block;
              height: 3px;
              margin-bottom: 2px;
              transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
              background-color: #333;
            }
          }
          span{
            vertical-align: middle;
          }
        }
      }
    }
    .wrapper-nav{
      text-align: right;
      display: inline-block;
      @media only screen and (max-width: 959px){
        left: 0;
        top: 72px;
        background: #ecebe8;
        display: none;
        position: fixed;
        width: 100%;
        max-width: 100%;
      }
      ul{
        width: 100%;
        float: left;
        position: relative;
        padding: 19.5px 0;
        margin: 0;
        li{
          display: inline-block;
          float: none;
          @media only screen and (max-width: 959px){
            width: auto;
            display: block;
          }
          a{
            color: black;
            font-size: 15px;
            line-height: 30px;
            font-family: "flamacondensed-bold",Oswald,sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            padding: 0 10px;
            @media only screen and (max-width: 959px){
              font-size: 18px;
              line-height: 40px;
            }
            &:hover{
              border-bottom: 0;
              span{
                border-bottom: 2px solid #393939;
              }
            }
            span{
              display: inline-block;
              white-space: nowrap;
              position: relative;
              border-bottom: 2px solid transparent;
            }
          }
        }
      }
    }
  }
}
