header{
  &.header-primary-container{
    padding: 0;
    background: white;
    @media only screen and (max-width: 959px){
      top: 0;
      left: 0;
      position: fixed;
      z-index: 99;
      width: 100%;
      box-shadow: 0 0 15px rgba(black,.2);
    }
    @media only screen and (max-width: $tablet){
      padding-bottom: 20px;
    }
    .wrapper-brand{
      display: inline-block;
      text-align: left;
      @media only screen and (max-width: $tablet){
        text-align: center;
      }
      .logo{
        margin: 20px 0;
        max-width: 100%;
        line-height: 1em;
        text-decoration: none;
        display: inline-block;
        @media only screen and (max-width: $tablet){
          width: 240px;
          float: none;
        }
        strong{
          position: absolute;
          top: -999em;
          left: -999em;
          width: 0;
          height: 0;
          font-size: 0;
          line-height: 0;
          text-indent: -999em;
          overflow: hidden;
        }
        a{
          display: block;
        }
        img{
          width: 240px;
          height: auto;
          vertical-align: inherit;
          max-width: 100%;
        }
      }
      .nav-toggle{
        display: none!important;
      }
    }
    .row{
      position: relative;
    }
    .mobnav-trigger-wrapper{
      display: none;
      @media only screen and (max-width: 959px){
        right: 0;
        display: block;
        position: absolute;
        padding: 0 15px;
        .mobnav-trigger{
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: "flamacondensed-bold",Oswald,sans-serif;
          background-color: #f8f8f8;
          float: left;
          width: 100%;
          text-align: right;
          padding: 7px 15px;
          margin: 10px 0;
          .trigger-icon {
            display: block;
            float: left;
            width: 23px;
            padding: 10px 0;
            .line{
              display: block;
              height: 3px;
              margin-bottom: 2px;
              transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
              background-color: #333;
            }
          }
          span{
            vertical-align: middle;
          }
        }
      }
      @media only screen and (max-width: $tablet){
        display: none;
      }
      @media only screen and (max-width: $mobile){
        .mobnav-trigger{
          margin: 5px 0;
        }
      }
    }
    .wrapper-nav{
      text-align: right;
      display: inline-block;
      @media only screen and (max-width: 959px){
        left: 0;
        top: 72px;
        background: #ecebe8;
        display: none;
        position: fixed;
        width: 100%;
        max-width: 100%;
      }
      @media only screen and (max-width: $tablet){
        top: 0;
        left: 0;
        text-align: left;
        position: relative;
      }
      .nav-sections{
        left: 0;
        width: 100%;
        float: left;
        position: relative;
        padding: 19.5px 0;
        background: none;
        margin: 0;
        .nav-sections-items{
          .nav-sections-item-title{
            display: none;
          }
          .nav-sections-item-content{
            margin: 0;
            padding: 0;
          }
        }
        .navigation{
          background: none;
          @media only screen and (min-width: 768px){
            background: none;
          }
          > ul{
            padding: 0;
            @media only screen and (min-width: 768px){
              padding: 0;
            }
            li{
              margin: 0;
              display: inline-block;
              float: none;
              &.level0{
                border: 0;
              }
              @media only screen and (max-width: 959px){
                width: auto;
                display: block;
              }
              &.active{
                @media only screen and (max-width: 768px){
                  a{
                    border: 0;
                  }
                }
              }
              a{
                color: black;
                font-size: 15px;
                line-height: 30px;
                font-family: "flamacondensed-bold",Oswald,sans-serif;
                text-transform: uppercase;
                font-weight: 500;
                padding: 0 10px;
                @media only screen and (min-width: 768px){
                  color: black;
                  line-height: 30px;
                  padding: 0 10px;
                  border: 0;
                }
                @media only screen and (max-width: 959px){
                  font-size: 18px;
                  line-height: 40px;
                }
                &:hover{
                  border-bottom: 0;
                  span{
                    border-bottom: 2px solid #393939;
                  }
                }
                span{
                  display: inline-block;
                  white-space: nowrap;
                  position: relative;
                  border-bottom: 2px solid transparent;
                }
              }
              ul.submenu{
                border: 0;
                text-align: left;
                li{
                  width: 100%;
                  margin: 0;
                  padding: 0;
                  height: auto;
                  a{
                    color: #000;
                    padding: 0 15px;
                    line-height: 50px;
                    font-size: 14px;
                    span{
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #search-wrapper-mobile, #user-menu-wrapper-mobile{
      &:not(.skip-active){
        display: none;
      }
    }
    .skip-links-wrapper{
      display: none;
      @media only screen and (max-width: $tablet){
        width: 75%;
        float: left;
        display: inline-block;
      }
      .skip-link{
        width: 33.33%;
        text-decoration: none;
        background-color: #ecebe8;
        float: left;
        position: relative;
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        &.skip-active{
          background-color: #f5f5f5;
          .ic.icon:before{
            color: #3ec2df;
          }
          .label{
            color: #3ec2df;
          }
        }
        .label{
          color: #333;
          font-size: 12px;
          font-weight: normal;
          display: inline-block;
          vertical-align: middle;
          line-height: 16px;
          padding: 0;
          @media only screen and (max-width: $mobile){
            display: none;
          }
        }
        .icon{
          display: inline-block;
          vertical-align: middle;
          margin-right: 3px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
    #mini-cart-wrapper-mobile{
      display: none;
      @media only screen and (max-width: $tablet){
        width: 25%;
        float: left;
        display: block;
      }
    }
    #search-wrapper-mobile{
      width: 100%;
      color: #333;
      padding: 20px;
      background-color: #ecebe8;
      float: left;
      .block-search{
        width: 100%;
        padding: 0;
        margin: 0;
        @media only screen and (max-width: $mobile){
          margin: 0;
        }
        input.input-text{
          margin: 0;
          padding-right: 35px;
          position: static;
        }
        .minisearch{
          .label{
            display: inline-block;
            background-image: none;
            background: none;
            -moz-box-sizing: content-box;
            border: 0;
            box-shadow: none;
            line-height: inherit;
            margin: 0;
            padding: 0;
            text-decoration: none;
            text-shadow: none;
            font-weight: 400;
            padding: 5px 0;
            position: absolute;
            right: 10px;
            top: 0;
            z-index: 1;
            &:before{
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 22px;
              line-height: 22px;
              color: #8f8f8f;
              content: '\e615';
              font-family: 'icons-blank-theme';
              margin: 0;
              vertical-align: top;
              display: inline-block;
              font-weight: normal;
              overflow: hidden;
              speak: none;
              text-align: center;
            }
          }
        }
      }
    }
    #user-menu-wrapper-mobile{
      width: 100%;
      color: #333;
      text-align: left;
      padding: 19.5px 15px;
      background-color: #ecebe8;
      float: left;
      .custom-account-login{
        margin: 0;
        > a{
          font-family: 'flamacondensed-bold';
          text-transform: uppercase;
          font-size: 18px;
          line-height: 40px;
          padding: 0 10px;
          display: block;
        }
      }
    }
    .skip-content{
      &.skip-active {
        display: block;
        .control{
          padding: 0;
        }
      }
    }
  }
}
