.login-container{
  text-align: left;
  .block{
    .block-title{
      font-size: 1.3rem;
    }
  }
  .fieldset:after{
    font-size: 12px;
  }
  .form {
    .fieldset{
      >.field{
        padding-left: 0;
        margin-bottom: 30px;
        &:not(.choice){
          >.label{
            max-width: 100%;
          }
          .control{
            max-width: 80%;
          }
        }
      }
    }
    .actions-toolbar{
      width: 100%;
      max-width: 100%;
      margin-left: 0!important;
      .primary{
        float: left;
      }
    }
  }
}
.actions-toolbar{
  .primary{
    .action{
      min-width: 180px;
      margin: 0;
      margin-left: 5px;
      padding: 0 25px;
      color: #000;
      font-size: 16px;
      line-height: 45px;
      text-transform: uppercase;
      transition: .3s all ease;
      background-color: transparent;
      border: 2px solid #000;
      overflow: visible;
      cursor: pointer;
      float: right;
      font-family: 'flamaCondensedmed',sans-serif;
      &:hover{
        color: #fff;
        background: #000;
      }
    }
  }
}