.login-container{
  text-align: left;
  .block{
    .block-title{
      font-size: 1.3rem;
    }
  }
  .fieldset:after{
    width: 100%;
    font-size: 12px;
    float: left;
  }
  .form {
    .fieldset{
      >.field{
        padding-left: 0;
        margin-bottom: 30px;
        @media only screen and (max-width: 768px){
          width: 100%;
          float: left;
        }
        &:not(.choice){
          >.label{
            max-width: 100%;
            text-align: left;
            @media only screen and (max-width: 768px){
              width: 100%;
              float: left;
            }
          }
          .control{
            max-width: 80%;
            @media only screen and (max-width: 768px){
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
    .actions-toolbar{
      width: 100%;
      max-width: 100%;
      margin-left: 0!important;
      float: left;
      .primary{
        float: left;
      }
    }
  }
}
.actions-toolbar{
  width: 100%;
  .primary{
    @media only screen and (max-width: 480px){
      width: 100%;
    }
    .action{
      min-width: 180px;
      margin: 0;
      margin-left: 5px;
      padding: 0 25px;
      color: #000;
      font-size: 20px;
      line-height: 45px;
      text-transform: uppercase;
      transition: .3s all ease;
      background-color: transparent;
      border: 2px solid #000;
      border-radius: 0;
      overflow: visible;
      cursor: pointer;
      float: right;
      @media only screen and (max-width: 480px){
        width: 100%;
        margin-left: 0;
      }
      font-family: 'flamaCondensedmed',sans-serif;
      &:hover{
        color: #fff;
        background: #000;
      }
    }
  }
}