.payment-result{
	table{
		text-align: left;
	}
  	.actions-toolbar{
  		margin-top: 25px;
		text-align: center;
		float: left;
		.primary{
			float: none;
			display: inline-block;
		}
	}
}
.checkout-success{
	.actions-toolbar{
		.primary{
			float: none;
			display: inline-block;
		}
	}
}