.checkout-cart-index{
  .page-wrapper .page-main{
    max-width: 1300px;
    margin: 0 auto;
    @media (min-width: $tablet){
      width: 90%;
    }
  }
}
.cart-container{
  form{
    &.form-cart{
      table{
        thead{
          th{
            width: 15%;
            color: #999;
            font-weight: 400;
            border: 0;
            @media (max-width: 1280px){
              width: auto;
            }
            &.item{
              width: 35%;
              @media (max-width: 1280px){
                width: 30%;
              }
            }
            &.delete{
              width: 5%;
              @media (max-width: 1280px){
                width: auto;
              }
            }
          }
        }
        tbody{
          tr{
            td{
              border: 0;
              &.item{
                .product-item-details{
                  text-align: left;
                  @media (max-width: 1280px){
                    display: block;
                  }
                }
                .product-item-name{
                  font-weight: bold;
                  font-size: 16px;
                  display: block;
                  margin-top: 6px;
                  @media (max-width: 1280px){
                    font-size: 14px;
                    line-height: normal;
                  }
                }
                .product-item-stock{
                  display: block;
                  text-align: left;
                  font-weight: bold;
                  font-size: 14px;
                  &.in-stock{
                    color: #4fb62f;
                  }
                  &.out-stock{
                    color: #cd3800;
                  }
                }
              }
              &.qty{
                .control-qty{
                  width: 28px;
                  height: 28px;
                  color: #000;
                  background: none;
                  vertical-align: middle;
                  display: inline-block;
                  border: 1px solid #000;
                  border-radius: 50%;
                  font-size: 18px;
                  font-weight: bold;
                  cursor: pointer;
                  &:not(.disable):hover{
                    color: #fff;
                    background: #000;
                  }
                  &.disable{
                    color: #999;
                    background: none;
                    border: 1px solid #ccc;
                    pointer-events: none;
                  }
                }
                .control.qty{
                  display: inline-block;
                  input{
                    width: 4em;
                  }
                }
              }
              &.delete{
                .action-delete{
                  margin: 0;
                  border: 0;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background: url(../img/icons/delete.png) no-repeat center;
                  background-size: 20px;
                  background-color: #f4f4f4;
                  &:hover{
                    border: 0;
                    background: url(../img/icons/delete-white.png) no-repeat center;
                    background-size: 20px;
                    background-color: #000;
                  }
                  span{
                    display: none;
                  }
                }
              }
            }
          }
          input{
            &.input-text{
              border: 0;
              color: #000;
              font-size: 16px;
            }
          }
        }
        .col.price, .col.qty, .col.subtotal, .col.msrp, .col.delete{
          font-size: 14px;
          text-align: center;
          vertical-align: middle;
          position: relative;
        }
        .col.qty{
          div.mage-error{
            left: 50%;
            width: 180px;
            font-size: 12px;
            margin-left: -90px;
            position: absolute;
            box-shadow: 0 0 5px rgba(black,.5);
            background: #fff;
            padding: 5px;
            border-radius: 5px;
            white-space: normal;
          }
        }
        .price-excluding-tax .price{
          width: 100%;
          font-size: 14px;
          float: left;
        }
      }
      .cart.main.actions{
        .action{
          color: #999;
          background: none;
          border: 1px solid #ccc;
          padding: 7px 15px;
          height: 44px;
          font-size: 16px;
          line-height: 30px;
          font-weight: normal;
          &.continue:before, &.update:before{
            line-height: 28px;
          }
          &:hover{
            color: #fff;
            background: #000;
            border-color: #000;
          }
        }
      }
    }
  }
  .cart-summary{
    text-align: left;
    color: #000;
    >.title{
      font-family: "flamacondensed-bold",Oswald,sans-serif;
    }
    .mark, mark{
      background: none;
    }
    .label{
      color: #000;
    }
    .block{
      >.title{
        strong[role='heading']{
          font-size: 1rem;
        }
      }
      .fieldset .field:not(.choice)>.label{
        font-size: 12px;
      }
      .fieldset{
        width: 100%;
        float: left;
      }
    }
    .mark, .cart-totals .amount, .opc-block-summary .table-totals .amount{
      font-size: 14px;
    }
    input[type=checkbox], input[type=radio]{
      display: inline-block;
    }
    .checkout-methods-items{
      a{
        font-size: 14px;
      }
    }
    div.primary{
      width: 100%;
    }
    button.action.primary{
      width: 100%;
      min-width: 140px;
      background: none;
      display: inline-block;
      border: 1px solid #000;
      color: #000;
      font-size: 16px;
      font-weight: normal;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      font-family: "flamacondensed-bold",Oswald,sans-serif;
      vertical-align: middle;
      white-space: nowrap;
      padding: 14px 17px;
      margin: 0;
      &:hover{
        color: #fff;
        background: #000;
      }
    }
  }
}