.account-cart-wrapper{
  height: 40px;
  color: #444;
  font-size: 14px;
  font-family: 'flamaCondensedmed',sans-serif;
  background: #ebebeb;
  @media only screen and (max-width: $tablet){
    display: none;
  }
  .header-toplinks{
    width: 96%;
    text-align: right;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
    @media only screen and (min-width: 1280px){
      max-width: 960px;
    }
    .custom-top-links, .block-search, .minicart-wrapper{
      float: none;
      display: inline-block;
      margin-left: 10px;
    }
    .custom-top-links{
      .custom-account-login{
        margin: 0;
        a{
          display: inline-block;
          padding: 4px 0.5833em;
          text-transform: uppercase;
        }
      }
    }
    .block-search{
      @media only screen and (min-width: $tablet){
        padding: 4px 0;
      }
      .control{
        @media only screen and (min-width: $tablet){
          padding: 0;
        }
        .nested{
          display: none;
        }
      }
      .actions{
        .action.search{
          top: 5px;
        }
      }
    }
    .minicart-wrapper{
      display: inline-block;
      vertical-align: middle;
      .action.showcart{
        .counter.qty{
          top: -4px;
          right: 3px;
          width: 18px;
          height: 18px;
          color: #fff;
          font-size: 11px;
          font-family: Arial,Helvetica,sans-serif;
          line-height: 18px;
          font-weight: bold;
          position: absolute;
          background: red;
          border-radius: 50%;
          margin: 0;
        }
        &.active{
          &:before{
            line-height: 50px;
          }
        }
      }
    }
  }
}