<?xml version="1.0"?>
<!--
/**
* CredomaticMasterCard admin configuration
*
* @category    CredomaticMasterCard
* @package     CredomaticMasterCard
* @author      Intcomex
* @copyright   Intcomex (https://www.intcomex.com/)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="credomatic_masterCard" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credomatic MasterCard</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Activado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="modo" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Modo</label>
                    <source_model>Intcomex\CredomaticMasterCard\Model\Config\Source\Modo</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Título</label>
                </field>                
                <field id="url_gateway" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Gateay</label>
                </field>                
                <field id="key_id" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Key Id</label>
                </field>
                <field id="key" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Key</label>
                </field>
                <field id="processor_id1" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Processor Id Contado</label>
                </field>
                <field id="processor_id3" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Processor Id TASA0 3</label>
                </field>
                <field id="processor_id6" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Processor Id TASA0 6</label>
                </field>
                <field id="CuotasOptions" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pago en Cuotas Disponibles</label>
                    <source_model>Intcomex\CredomaticMasterCard\Model\Config\Source\CuotasOptions</source_model>
                </field>
                <field id="CustomErrorMsg" translate="label" type="textarea" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mensaje de error personalizado.</label>
                    <comment><![CDATA[Llena este campo solamente si prefieres mostrar un mensaje de error personalizado al ser rechazada la transaccion, en lugar de mostrar los mensajes de Credomatic.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
