@font-face {
  font-family: 'flamacondensed-bold';
  src: url('../fonts/flamacondensed-bold.eot');
  src: url('../fonts/flamacondensed-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/flamacondensed-bold.woff2') format('woff2'),
    url('../fonts/flamacondensed-bold.woff') format('woff'),
    url('../fonts/flamacondensed-bold.ttf') format('ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'flamaCondensedmed';
  src: url('../fonts/flamacondensed-medium.eot');
  src: url('../fonts/flamacondensed-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/flamacondensed-medium.woff2') format('woff2'),
    url('../fonts/flamacondensed-medium.woff') format('woff'),
    url('.. /fonts/flamacondensed-medium.ttf') format('truetype');
}
@font-face{
  font-family: revicons;
  src: url(https://d1xmwvh7zjeiw0.cloudfront.net/skin/frontend/base/default/nwdthemes/revslider/public/assets/fonts/revicons/revicons.eot?5510888);
  src: url(https://d1xmwvh7zjeiw0.cloudfront.net/skin/frontend/base/default/nwdthemes/revslider/public/assets/fonts/revicons/revicons.eot?5510888#iefix) format('embedded-opentype'),
  url(https://d1xmwvh7zjeiw0.cloudfront.net/skin/frontend/base/default/nwdthemes/revslider/public/assets/fonts/revicons/revicons.woff?5510888) format('woff'),
  url(https://d1xmwvh7zjeiw0.cloudfront.net/skin/frontend/base/default/nwdthemes/revslider/public/assets/fonts/revicons/revicons.ttf?5510888) format('truetype'),
  url(https://d1xmwvh7zjeiw0.cloudfront.net/skin/frontend/base/default/nwdthemes/revslider/public/assets/fonts/revicons/revicons.svg?5510888#revicons) format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'NexusTypewriterOT';
  src: url('../fonts/NexusTypewriterOT.eot');
  src: url('../fonts/NexusTypewriterOT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NexusTypewriterOT.woff2') format('woff2'),
    url('../fonts/NexusTypewriterOT.woff') format('woff'),
    url('../fonts/NexusTypewriterOT.ttf') format('truetype');
}
@font-face{
  font-family: 'ThemeIcons';
  src: url('../fonts/ThemeIcons.eot?387osh');
  src: url('../fonts/ThemeIcons.eot?#iefix387osh') format('embedded-opentype'),
    url('../fonts/ThemeIcons.woff?387osh') format('woff'),
    url('../fonts/ThemeIcons.ttf?387osh') format('truetype'),
    url('../fonts/ThemeIcons.svg?387osh#ThemeIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'icomoon-atribut';
  src: url('../fonts/atributos/icomoon.eot');
  src: url('../fonts/atributos/icomoon.eot') format('embedded-opentype'),
    url('../fonts/atributos/icomoon.ttf') format('truetype'),
    url('../fonts/atributos/icomoon.woff') format('woff'),
    url('../fonts/atributos/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.page-layout-checkout label{
  color: #000!important;
}
.price-box{
  display: none!important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px !important;
  body {
    color: #333;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    background-color: white;
    text-align: center;
    @media only screen and (max-width: 959px){
      padding-top: 72px;
    }
    @media only screen and (max-width: $mobile){
      padding-top: 62px;
    }
    ul, ol {
      list-style: none;
    }
    a {
      color: #333;
      text-decoration: none;
      &:hover{
        color: #0056b3;
        text-decoration: none;
      }
      &:visited{
        color: #333;
        text-decoration: none;
      }
    }
    h1,h2,h3{
      font-family: "flamacondensed-bold",Oswald,sans-serif;
    }
    .page-wrapper{
      min-height: inherit;
    }
    .columns {
      .column.main{
        padding: 0;
      }
    }
    .page-main{
      padding: 0;
      @media only screen and (min-width: 768px){
        max-width: 100%;
      }
    }
    section{
      width: 100%;
      padding: 20px 0;
      float: left;
      &.section-main-slider{
        padding-top: 0;
      }
      header{
        h2{
          margin: 0 0 40px;
          font-size: 2em;
          @media only screen and (min-width: 768px){
            font-size: 2.6666em;
          }
        }
      }
    }
    .container {
      width: 96%;
      max-width: 960px;
      @media only screen and (max-width: 959px) and (min-width: 768px){
        max-width: 90%;
      }
    }
    .container-fluid{
      max-width: 1320px;
    }
    select {
      height: 36px;
      padding: 8px;
      text-overflow: ellipsis;
      font: 15px 'flamaCondensedmed',sans-serif;
      transition: .5s all ease;
      &:hover{
        border-color: #aaa;
        color: #333;
        outline: none;
      }
    }
    input.input-text, select, textarea {
      background: #fff;
      border: 1px solid #ddd;
      color: #888;
      box-sizing: border-box;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
.contact-index-index{
  .page-title-wrapper{
    display: none;
  }  
}
.page-title-wrapper{
  .print{
    @media only screen and (min-width: $tablet){
      margin: 0 0 20px;
      float: none;
    }
  }
}
.page-title{
  margin-bottom: 20px;
  h1, h2{
    margin: 0;
    min-height: 1.31em;
  }
  h1{
    @media only screen and (min-width: $tablet){
      font-size: 30px;
    }
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
table{
  &.table{
    @media only screen and (max-width: 1024px){
      float: left;
      tbody, tr{
        width: 100%;
        float: left;
      }
      th{
        float: left;
      }
    }
    td, th{
      border-top: 0;
      padding: 20px;
      text-align: left;
    }
    th{
      width: 24.5%;
      min-width: 100px;
      border-right: 1px solid #f5f5f5;
    }
  }
  &.table-striped tbody{
    tr{
      &:nth-of-type( even ){
        background-color: #fbfbfb;
      }
      &:nth-of-type( odd ){
        background: none;
      }
    }
  }
}
[data-content-type='row'][data-appearance='contained'] {
  width: 100%;
  max-width: 100%!important;
  float: left;
  [data-element='inner']{
    padding: 0!important;
    margin: 0!important;
  }
}
.pager-wrapper{
  width: 100%;
  margin: 0;
  padding: 10px 0;
  border-bottom: none;
  border-top: 1px dashed #e5e5e5;
  text-align: center;
  line-height: 36px;
  display: inline-block;
  > span{
    margin-right: 5px;
    font-weight: normal;
    display: inline-block;
  }
  .pager{
    display: inline-block;
    vertical-align: middle;
    a{
      width: 30px;
      height: 30px;
      font-size: 12px;
      text-align: center;
      line-height: 30px;
      margin: 0 0 0 1px;
      display: block;
      background-color: #f5f5f5;
      cursor: pointer;
      float: left;
      &:hover{
        color: #1e75b4;
        background-color: #333;
      }
      &.jp-current{
        color: #333;
        background-color: #e5e5e5;
        cursor: inherit;
      }
      &.jp-disabled{
        display: none;
      }
      &.jp-previous:before{
        content: "\e260";
      }
      &.jp-next:before{
        content: "\e263";
      }
      &.jp-previous:before, &.jp-next:before{
        font-family: ThemeIcons;
      }
    }
  }
}
.ic {
  display: inline-block;
  font-family: ThemeIcons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-atribut {
  font-family: 'icomoon-atribut';
  speak: none;
  font-size: 70px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-aluminium:before{
  content: "\e900";
}
.icon-ceamic:before{
  content: "\e911";
}
.icon-cork:before{
  content: "\e903";
}
.icon-lithium_battery:before{
  content: "\e905";
}
.icon-organic_cotton:before{
  content: "\e906";
}
.icon-recycled_paper:before{
  content: "\e908";
}
.icon-recyced_plastic:before{
  content: "\e909";
}
.icon-regrind:before{
  content: "\e90a";
}
.icon-redwind_fabric:before{
  content: "\e90b";
}
.icon-stainless_steel:before{
  content: "\e90c";
}
.icon-water_proof:before{
  content: "\e90f";
}
.icon-wood_fiber:before{
  content: "\e910";
}
#cboxTopLeft,#cboxTopCenter,#cboxTopRight,#cboxBottomLeft,#cboxBottomCenter,#cboxBottomRight{
  display: none;
}
#cboxPrevious, #cboxNext, #cboxClose{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-image: none;
  display: inline-block;
  font-family: ThemeIcons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  &:hover{
    background-color: #333;
    color: #fff;
  }
}
#cboxClose{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: url(https://d1xmwvh7zjeiw0.cloudfront.net/skin/frontend/tekpro/default/images/infortis/_shared/colorbox/close-button.png) -10px -10px no-repeat #f5f5f5;
  &:before{
    content: "\e20f";
  }
}
#cboxPrevious, #cboxNext{
  position: absolute;
  background: url(https://d1xmwvh7zjeiw0.cloudfront.net/skin/frontend/tekpro/default/images/infortis/_shared/colorbox/slider-arrows.png) no-repeat #f5f5f5;
}
#cboxNext{
  bottom: 10px;
  left: 40px;
  background-position: -60px -10px;
  &:before{
    content: "\e263";
  }
}
#cboxPrevious {
  bottom: 10px;
  left: 10px;
  background-position: -10px -10px;
  &:before{
    content: "\e260";
  }
}
#cboxCurrent{
  bottom: 17px;
  left: 80px;
}
#cboxTitle{
  bottom: 17px;
  background: #fff;
}
#scroll-to-top {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 32px;
  bottom: 80px;
  right: 30px;
  z-index: 9999;
  border-radius: 50%;
  background-image: none;
  background-color: #f5f5f5;
  color: #333;
  &:hover{
    color: #1e75b4;
    background-color: #333;
  }
  @media only screen and (max-width: 959px){
    display: none!important;
  }
}
.ic-up:before {
  content: "\e262";
}
.ic-menu:before {
  content: "\e222";
}
.ic-search:before {
    content: "\e235";
}
.ic-user:before {
    content: "\e230";
}
