$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1400px !default;
$mainColor: #E22319;
$secondColor:#d9eef7;
$colorHover:#1976a1;