$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1400px !default;
$mainColor: #1976a1;
$secondColor:#333333;
$colorHover:#ffffff;
$colorSecond:#000000;