<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Ingenico\Connect\Model\Ingenico\RequestBuilder\Common\Order\Customer\AddressBuilder" type="Intcomex\IngenicoRewrites\Model\Ingenico\RequestBuilder\Common\Order\Customer\AddressBuilder" />
 <preference for="Ingenico\Connect\Model\Ingenico\RequestBuilder\Common\Order\Shipping\AddressBuilder" type="Intcomex\IngenicoRewrites\Model\Ingenico\RequestBuilder\Common\Order\Shipping\AddressBuilder" />
</config>

