$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1400px !default;
$mainColor: #6fccde;
$footerBgColor:#383736;
$colorText:#000000;
$colorTitleHead:#000000;
$colorTitle:#383736;
$colorHover:#000000;
$colorSecond:#1d1d1b;
$colorThird: #62B230;
$colorBottom: #383736;
$fontText:'Fira Sans';
$fontTextTitle:'Fira Sans';

