$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1400px !default;
$mainColor: #004FB9;
$footerBgColor:#F5F5F5;
$colorText:#000000;
$colorTitleHead:#000000;
$colorTitle:#454752;
$colorHover:#ff7b00;
$colorSecond:#1d1d1b;
$colorThird: #62B230;
$colorBottom: #ff6702;
$fontText:'Barlow', sans-serif;
$fontTextTitle:'Barlow', sans-serif;

