<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cnet>
            <general>
                <enabled>0</enabled>
                <skey>60b2eb44</skey>
                <zone_id>a8fd5029d1</zone_id>
                <manufacturer>Dell</manufacturer>
            </general>
        </cnet>
    </default>
</config>
