<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="intcomex" translate="label" sortOrder="10">
            <label>Intcomex</label>
        </tab>
        <section id="tradein" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Trade In</label>
            <tab>intcomex</tab>
            <resource>Intcomex_TradeIn::tradein_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración Trade In</label>
                <field id="prefijo_cupon" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prefijo Cupón</label>
                    <comment>TRADE</comment>
                </field>
                <field id="texto_correo" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Texto correo</label>
                </field>
                <field id="alerta_tradein_1" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alerta TradeIn #1</label>
                </field>
                <field id="alerta_tradein_2" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alerta TradeIn #2</label>
                </field>
            </group>
        </section>
    </system>
</config>