<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_category_init_after">
        <observer name="retailer_catalog" instance="Trax\Catalogo\Observer\GetProducts" />
    </event>
    <event name="catalog_controller_product_view">
        <observer name="retailer_catalog_detail" instance="Trax\Catalogo\Observer\GetProduct" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="retailer_catalog_cart" instance="Trax\Catalogo\Observer\GetProduct" />
    </event>
    <event name="checkout_cart_update_items_before">
        <observer name="retailer_catalog_cart_update" instance="Trax\Catalogo\Observer\GetCartProducts" />
    </event>
</config>