$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1400px !default;
$mainColor: #1428A0;
$colorHover: #1428A0;
$colorLink:#212428;
$bgColorSecond:#000000;
$colorText:#000000;
$redcolor:#1428A0;
