<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="intcomex_bines" id="intcomex_bines">
			<module before="Magento_Backend" name="Intcomex_Bines"/>
		</route>
	</router>
</config>
