<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <flix_general>
            <catalogo_retailer>
                <id></id>
                <language></language>
            </catalogo_retailer>
        </flix_general>
    </default>
</config>