$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1400px !default;
$mainColor: #0780EE;
$colorHover: #000000;
$colorLink:#0780EE;
$bgColorSecond:#003FFA;
$colorText:#000000;
$redcolor:#0780EE;
$fontText:'Montserrat', sans-serif;
$fontTextTitle:'Montserrat', sans-serif;
