$mobilex: 375px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopXL: 1400px !default;
$mainColor: #019DF4;
$colorHover: #0B2739;
$colorLink:#019DF4;
$bgColorSecond:#313235;
$colorText:#313235;
$redcolor:#019DF4;
$fontText:'Telefonica-Regular';
$fontTextTitle:'Telefonica-Bold';
