<?xml version="1.0" ?>
<!--
/**
 * Mienvio_Api default payment configuration
 *
 * @category    Api
 * @package     Mienvio_Api
 * @author      Valentina Aguirre
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="mienvioapi" id="mienvioapi">
            <module name="Mienvio_Api"/>
        </route>
    </router>
</config>