<?xml version="1.0"?>
<!--
/** Grid menu xml
 * @category  Trax
 * @package   Trax_Grid
 * @author    Valentina Aguirre
 * @copyright Copyright (c) 2010-2017 Trax Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Trax_Grid::manager" title="Grid Manager" module="Trax_Grid" sortOrder="10" resource="Trax_Grid::manager" />
        <add id="Trax_Grid::add_row" title="Grid Manager" module="Trax_Grid" sortOrder="20" parent="Trax_Grid::manager" action="grid/grid" resource="Trax_Grid::add_row"/>
    </menu>
</config>
