section{
  &.newsletter{
    .header-section{
      text-align: center;
      .title-section{
        color: #000;
        font-size: 22px;
        text-transform: uppercase;
      }
      @media only screen and (max-width: $mobile){
        padding: 0 15px;
      }
    }
    .block.newsletter{
      width: 100%;
      max-width: 560px;
      margin: 20px auto 0;
      form{
        @media only screen and (max-width: $mobile){
          padding: 0 15px;
          text-align: center;
          display: inline-block;
        }
        .field.newsletter{
          width: 75%;
          float: left;
          @media only screen and (max-width: $mobile){
            width: 100%;
          }
          .control{
            label{
              width: 100%;
            }
            &:before{
              line-height: 46px;
            }
          }
          margin: 0;
          input{
            height: 46px;
            border-radius: 5px 0 0 5px;
            @media only screen and (max-width: $mobile){
              border-radius: 5px;
            }
          }
        }
        .actions{
          width: 25%;
          display: inline-block;
          @media only screen and (max-width: $mobile){
            width: 100%;
            max-width: 200px;
            margin-top: 20px;
          }
          .action{
            width: 100%;
            height: 46px;
            position: relative;
            text-transform: uppercase;
            border-radius: 0 5px 5px 0;
            background: $colorSecond;
            &:hover{
              background: $mainColor;
            }
            @media only screen and (max-width: $mobile){
              border-radius: 5px;
            }
          }
        }
      }
    }
    &.bg-image-dark{
      .header-section{
        .title-section, p{
          color: #fff;
        }
      }
    }
  }
}
