.checkout-index-index{
  .page-wrapper .page-main .columns .column.main{
    max-width: 1300px;
    margin: 0 auto;
    @media (min-width: $tablet){
      width: 90%;
    }
  }
  .checkout-container{
    margin: 40px 0 20px;
    .custom-slide{
      .modal-header{
        padding: 0;
        .action-close{
          z-index: 9;
        }
      }
    }
  }
  .opc-progress-bar-item{
    >span{
      font-size: 1.3rem;
      @media (max-width: $tablet){
        font-size: 1rem;
      }
      &:after{
        color: $mainColor;
        font-size: 1.3rem;
        line-height: 28px;
      }
    }
    &._active{
      &:before{
        background: $mainColor;
      }
      >span{
        &:before{
          background: $mainColor;
        }
        &:after{
          font-size: 1.8rem;
        }
      }
    }
  }
  .opc-estimated-wrapper{
    background: #ecebe8;
    .estimated-block{
      text-align: left;
    }
    .minicart-wrapper{
      width: auto;
      .action.showcart{
        border: 0;
        background: none;
        .counter.qty{
          width: 18px;
          height: 18px;
          line-height: 18px;
          background: $colorSecond;
          border-radius: 50%;
        }
      }
    }
  }
  .checkout-payment-method .payment-method-content{
    >.actions-toolbar{
      display: inline-block;
      float: none;
      >.primary .action.primary{
        font-size: 20px;
        line-height: 45px;
        padding: 0 25px;
      }
    }
  }

  .checkout-payment-method{
    .payment-method-content {
      #co-mercadopago-form, #co-mercadopago-form-ticket {
        max-width: 100%;

        #securityCode, #securityCodeOCP {
          width: 100%;
        }

      }
    }
  }

  .opc-wrapper {
    @media (max-width: $tablet){
      padding: 0 15px;
    }
    .shipping-address-item.selected-item{
      border-color: #000;
      &:after{
        background: #000;
      }
    }
    .col.col-method{
      text-align: center;
    }
    .table-checkout-shipping-method{
      .col{
        text-align: left;
        &:first-child {
          text-align: center;
        }
      }
    }
    input[type=checkbox], input[type=radio]{
      display: inline-block;
      margin: 0;
    }
    .payment-method{
      font-size: 13px;
      font-weight: normal;
      padding: .2em .6em .3em;
      @media (max-width: $tablet){
        padding: 0;
      }
      .label{
        font-size: 18px;
        font-weight: normal;
        padding:0;
      }
      .actions-toolbar{
        .action{
          @media (max-width: $tablet){
            margin: 0 0 10px;
          }
        }
      }

      .payment-method-title{
        display: none;
      }
    }
    .payment-option{
      .form{
        width: 100%;
        max-width: 450px;
        display: inline-block;
        float: none;
      }
    }
    .actions-toolbar{
      div.primary{
        @media (min-width: $tablet){
          float: left;
          margin: 0 0 10px;
        }
      }
      .secondary .action{
        color: #999;
        background: none;
        border: 1px solid #ccc;
        padding: 7px 15px;
        height: 44px;
        font-size: 16px;
        line-height: 30px;
        font-weight: normal;
        min-width: 180px;
        border-radius: 0;
        &:hover{
          color: #fff;
          background:$colorHover;
          border-color:$colorHover;
        }
      }
    }
    .checkout-payment-method {
      .payment-option.giftcardaccount{
        display: none!important;
      }
    }

    #custom-billing-step{
      .checkout-billing-address{
        .billing-cancel{
          margin-top: 0px;
        }
      } 
    }

  }
  .opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary>.title, .checkout-agreements-items .checkout-agreements-item-title{
    font-size: 36px;
    font-weight: bold;
  }
  .opc-summary-wrapper{
    .modal-content{
      border-radius: 0;
      @media (min-width: $tablet){
        box-shadow: none;
      }
    }
  }
  .opc-block-summary{
    background: none;
    >.title{
      font-size: 1.3rem;  
    }
    .minicart-items-wrapper {
      max-height: none;
    }
    .minicart-items{
      .product-item-inner{
        display: block;
        .product-item-name-block{
          width: 100%;
          display: block;
          padding: 0;
          .product-item-name{
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
      .details-qty{
        font-size: 14px;
        .label{
          color: #000;
          padding-left: 0;
        }
      }
      .product.options {
        text-align: left;
        .content {
          .label{
            color: #000;
            width: 100%;
            text-align: left;
            padding: 0;
          }
        }
      }
    }
    .product-item{
      .price{
        font-size: 14px;
        font-weight: bold;
      }
    }
    .mark, mark{
      width: 60%;
      background: none;
      .label{
        color: #000;
        padding-left: 0;
      }
    }
  }
  .opc-block-shipping-information{
    .shipping-information-title{
      font-size: 1.3rem;  
    }
    .shipping-information-content{
      text-align: left;
    }
  }

  .checkout-payment-method .payment-method-content{
    padding: 0;
  }
  .panel-checkout{
    margin-bottom: 10px;
  }
  .title-checkout{
    padding: 0px 0 0px;
    font-family: $fontTextTitle !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25 !important;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 0 !important;
    margin-left: 15px;
  }
  .badge-checkout{
    font-size: 14px !important;
    font-family: $fontTextTitle !important;
    padding: 0;
    margin-left: 5px;
    display: inline-block;
    background-color: transparent;
    color: $mainColor;
    text-transform: none;
    font-weight: 500;
    border: 1px solid $mainColor;
    padding: 0 20px;
    border-radius: 5px;
    
  }
  .subtitle-checkout{
    padding: 10px 0px 0px;
    font-size: 18px !important;
    color: #000000 !important;
    font-family: $fontTextTitle !important;
  }
  .redirect-frame {
    width: 100%;
    text-align: center !important;
    background-color:#F2F2F2;
    padding: 20px;
    display: inline-block;
}
.redirect-frame p {
  padding-top: 15px !important;
  font-family: inherit !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.71 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #333333 !important;
}
  .field[name="shippingAddress.country_id"] {
    display: none !important;
  }
  .field[name="billingAddressshared.country_id"] {
    display: none !important;
  }
  .payment-icon{
    display: inline-block!important;
    width: 80px;
    margin-left: 20px;
  }
  .custom_alert{
    color: #000 !important;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: .7rem;
    border: 1px solid #C7000B !important;
    margin-bottom: 10px;
    font-weight: 700;
    background-color: #fff;
  }
  .custom_alert .icon{
    width: 40px;
    margin-right: .8rem;
  }
  .billing-address-details{
    padding: 10px;
  }

  .billing-address-invoice-alert{
    border: 1px solid #C7000B;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    margin: 15% 0 0 0;
    line-height: 15px; 
  }
  .billing-address-invoice-alert p{
    float: left !important;
    margin-bottom: 0px;
    line-height: 20px;
    width: 85%;
  }

  .billing-address-invoice-alert p a{
    font-weight: 800 !important;
    color: $mainColor !important;
  }
  .billing-address-invoice-alert .icon{
    width: 35px !important;
    margin-right: .8rem;
    margin-top: .3rem;
    float: left;
  }
  li#custom-billing-step .step-title{
    text-align: left !important;
    font-size: 32px !important;
    padding-bottom: 0px !important;
  }
  .billing-address-same-as-shipping-block{
    padding-top: 10px;
  }
  #checkout-payment-method-load{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px !important;
  }
  .tradein_alert{
    font-weight: 400;
    color: #000 !important;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: .7rem;
    border: 1px solid $mainColor !important;
    margin-bottom: 10px;
    background-color: #fff;
  }
  .tradein_alert .icon{
    width: 40px;
    margin-right: .8rem;
  } 
  .tradein_alert a {
    font-weight: bold;
    color: $mainColor !important;
  }

  li#shipping .step-title{
    text-align: left !important;
    font-size: 32px !important;
    padding-bottom: 0px !important;
  }
  div#checkout-step-shipping {
    padding-top: 10px;
  }
  .payment-group .step-title{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px !important;
  }

  .billing-address-details.row{
    border: 1px solid #000;
    border-radius: .7rem;
    padding: 1rem 0;
    margin-left: 0;
  }

  #checkout-payment-method-load{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px !important;
  }
  .checkout-payment-method .payment-option-title {
    border-top: 0px !important;
  }
  .checkout-payment-method .payment-method-title{
    padding: 18px 0 !important;
    margin: 0;
  }

  #checkout .opc-progress-bar .opc-progress-bar-item span{
    font-size: 18px;
    font-weight: 800;
    color:#DDDDDD;
  }
  #checkout .opc-progress-bar .opc-progress-bar-item._active span{
    font-size: 18px;
    font-weight: 800;
    color: $mainColor;
  }
  .minimsg{
    border-bottom: 1px solid #ccc !important;
  }
  .payment-method-billing-address{
    margin-bottom: 20px;
  }
 
  .panel-checkout .row div:nth-child(2) > .frame-tarjetas > div {
    background-image: url(/media/wysiwyg/credito.jpg);
    height: 35px;
    background-repeat: no-repeat
  }
  .panel-checkout .row div:nth-child(3) > .frame-tarjetas > div{
    background-image: url(/media/wysiwyg/debito.jpg);
    height: 35px;
    background-repeat: no-repeat
  }
  .panel-checkout .row div:nth-child(4) > .frame-tarjetas > div {
    background-image: url(/media/wysiwyg/efectivo.jpg);
    height: 35px;
    background-repeat: no-repeat
  }
  .box-step-content{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #CFCBCB;
    overflow: hidden;

    label{
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 14px;
      font-family: Barlow,sans-serif;
    }
  }

  .p0{
    padding: 0;
  }

  .bd2{
    border-left: 2px solid #CFCBCB;
  }

  .payment-group-item{
    border-bottom: 2px solid #DDDDDD;

    a{
      color:#000000;
      background-color: #FFFFFF;
      text-decoration: none;
      padding: 1.3rem 0.5rem;
      background-position: 96% center;
    }

    &.debitcard{
      a {
        background-image: url(../images/icono-td-normal@2x.png);

      }

      &.active {
        a {
          background-image: url(../images/icono-td-select@2x.png);

        }
      }
    }

    &.debitcredit{

      &.active{
        a{
          background-image: url(../images/icono-tc-select@2x.png);
        }
      }

      a{
        background-image: url(../images/icono-tc-normal@2x.png);
      }
    }

    &.pefectivo{

      &.active{
        a{
          background-image: url(../images/icono-ef-select@2x.png);
        }
      }
      a{
        background-image: url(../images/icono-ef-normal@2x.png);
      }
    }

    &.active a{
      background-color: #FFFFFF;
      color: #000000
    }

    a{
      display: block;
      background-color: #F2F2F2;
      padding: 1.3rem 1.5rem;
      background-repeat: no-repeat;
      background-position: 85% center;
      background-size: 42px;
      background-position: 92% center;
      background-size: 32px;
      font-size: 14px;

      &:focus{
        color:#000000;
        background-color: #FFFFFF;
        text-decoration: none;
      }

      &:hover{
        color:#000000;
        background-color: #FFFFFF;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: $mobile){

  .billing-address-invoice-alert{

    margin: 5% 0 0 0 !important;

  }

  .opc-progress-bar-item{

    width: 33% !important;

  }

  .billing-address-invoice-alert p{

    font-size: 12px !important;

  }

}

.mp-box-inputs.mp-col-33 {
  width: 31%;
  float: left;
}
.mp-col-35 {
  width: 35%;
}
.mp-col-65 {
  width: 65%;
}
.mp-box-inputs {
  float: left;
}
.mp-col-100 {
  width: 100%;
  margin-bottom: 15px;
}
.mp-box-inputs.mp-line {
  margin-bottom: 15px;
}

.mp-box-inputs.margin-r{
  margin-right: 17px;
}


.mp-box-inputs.mp-col-31 {
  width: 31%;
}
.mp-box-inputs.mp-col-70 {
  width: 65%;
}
#mp-box-loading {
  width: 30px;
  height: 30px;
  display: inline-block;

}

@media (max-width: 768px) {
  .checkout-index-index .PaymentCardDueDate{
    width: 55%;
  }
  label.FormFieldLabel{
    width: 100%;
  }
  .checkout-index-index .bd2{
    border-left: 0;
  }
  .checkout-index-index .PaymentCardCVV {
    width: 45%;
  }
  .checkout-index-index .tab-pane {
    padding: 20px 0;
  }
  .page-title-wrapper .page-title {
    font-size: 26px;
  }
  .page-title-wrapper h2{
    font-size: 24px;
  }

}

@media (max-width: 380px) {
  .checkout-index-index .PaymentCardDueDate{
    width: 100%;
  }
  .checkout-index-index .PaymentCardCVV{
    width: 100%;
  }
  .checkout-index-index .payment-card-due-month, .payment-card-due-year {
    width: 45%;
  }
  .mp-box-inputs.mv-col-50 {
    width: 48%;
  }
  .mp-box-inputs.mv-col-100 {
    width: 100%;
    margin-top: 15px;
  }
  .mp-box-inputs.margin-r{
    margin-right: 0px;
  }
  .mp-box-inputs.margin-mv{
    margin-right: 4%;
  }

}

.checkout-onepage-success .actions-toolbar>.primary{
  float: none!important;
}
.checkout-onepage-failure .actions-toolbar>.primary{
  float: none!important;
}
.checkout-onepage-failure h1.page-title:first-child{
  display: none!important;
}

#applyCouponCard, #applyCouponTicket{
  background-color: $colorBottom !important;
  border-color: $colorBottom !important;
}

.checkout-agreements-block .action-show{

  font-size: 14px;

  font-weight: bold;

}