<?xml version="1.0"?>
<!--
/**
* Credomatic admin configuration
*
* @category    Credomatic
* @package     Credomatic
* @author      Intcomex
* @copyright   Intcomex (https://www.intcomex.com/)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="credomatic" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credomatic</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="modo" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Modo</label>
                    <source_model>Intcomex\Credomatic\Model\Config\Source\Modo</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Título</label>
                </field>                
                <field id="url_gateway" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Gateay</label>
                </field>                
                <field id="key_id" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key Id</label>
                </field>
                <field id="key" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key</label>
                </field>
                 <field id="reintentos" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reintentos de conexión</label>
                    <comment><![CDATA[Reintentos para obtener respuesta de la pasarela]]></comment>
                </field>
                <field id="processor_id1" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Processor Id Contado</label>
                </field>
                <field id="processor_id3" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Processor Id TASA0 3</label>
                </field>
                <field id="processor_id6" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Processor Id TASA0 6</label>
                </field>
                <field id="processor_id10" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Processor Id 10 Cuotas </label>
                </field>
                <field id="processor_id12" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Processor Id 12 Cuotas</label>
                </field>
                <field id="CuotasOptions" translate="label" type="multiselect" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pago en Cuotas Disponibles</label>
                    <source_model>Intcomex\Credomatic\Model\Config\Source\CuotasOptions</source_model>
                </field>
                <field id="CustomErrorMsg" translate="label" type="textarea" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mensaje de error personalizado.</label>
                    <comment><![CDATA[Llena este campo solamente si prefieres mostrar un mensaje de error personalizado al ser rechazada la transaccion, en lugar de mostrar los mensajes de Credomatic.]]></comment>
                </field>
                <field id="usuario" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Usuario</label>
                    <comment><![CDATA[Usuario para conexion API]]></comment>
                </field>
                <field id="password" translate="label" type="password" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <comment><![CDATA[Password para conexion API]]></comment>
                </field>
                 <field id="url_api" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Gateway</label>
                    <comment><![CDATA[url gateway para conexion API]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
